In [1]:
import pandas as pd
import os

In [47]:
essendon = pd.read_csv('C:/Users/micha/MAST30034 Project 2/data/raw/ABS SA2 Inner Melbourne/Region summary_ Essendon - East SA2 206031502.csv')

In [48]:
essendon.head()

,Measure Code,Parent Description,Description,2011,2016,2017,2018,2019,2020,2021,2022
0,ERP_P_20,Estimated resident population - year ended 30 ...,Estimated resident population (no.),NaN,NaN,12501.0,12601.0,12684.0,12744.0,12313.0,12276.0
1,ERP_21,Estimated resident population - year ended 30 ...,Population density (persons/km2),NaN,NaN,3517.1,3545.3,3568.6,3585.5,3464.3,3453.8
2,ERP_M_20,Estimated resident population - year ended 30 ...,Estimated resident population - males (no.),NaN,NaN,6041.0,6106.0,6153.0,6193.0,5994.0,NaN
3,ERP_F_20,Estimated resident population - year ended 30 ...,Estimated resident population - females (no.),NaN,NaN,6460.0,6495.0,6531.0,6551.0,6319.0,NaN
4,ERP_19,Estimated resident population - year ended 30 ...,Median age - males (years),NaN,NaN,35.2,35.2,35.2,35.7,36.7,NaN

In [5]:
Wanted_Descriptors = [
    'Estimated resident population (no.)',
    'Population density (persons/km2)',
    'Median age - persons (years)',
    'Working age population (aged 15-64 years) (no.)',
    'Births (no.)', 'Deaths (no.)', 'Total born overseas (no.)',
    'Australian citizen (no.)', 'Not an Australian citizen (no.)',
    'Employed (no.)', 'Unemployed (no.)', 'Renter (no.)',
    'Health care and social assistance (no.)',
    'Value of residential building ($m)', 'Houses - total (no.)', 
    'Townhouses - total (no.)', 'Apartments - total (no.)', 
    'Youth allowance (full time students/apprentices) (no.)', 
    'Commonwealth rent assistance (no.)', 'Number of employee jobs - total',
    'Median weekly household rental payment ($)', 'Rented (no.)',
    'Count of homeless persons (no.)'
]

Wanted_Descriptors.append('SA2 Area Name')
SA2_df = pd.DataFrame(columns= Wanted_Descriptors)

Wanted_Descriptors.pop()

NameError: name 'pd' is not defined

In [45]:
#Get Indecies
index = []
for i in range(len(Wanted_Descriptors)):
    index.append(None)

print(len(index))

count = 0
for descriptor in Wanted_Descriptors:
    r = essendon.index[essendon['Description'] == descriptor].to_list()[0]
    index[count] = r
    count+=1

new_row = []
for i in index:
    new_row.append(essendon['2021'][i])

print(len(index))
new_row.append('essendon')

print(new_row)
    
SA2_df.loc[len(SA2_df)] = new_row

SA2_df

23
23
[12313.0, 3464.3, 37.4, 8783.0, 108.0, 64.0, 3147.0, 10340.0, 1444.0, nan, nan, 43.0, 160.0, 52.0, 2256.0, 1311.0, 2670.0, 112.0, 491.0, nan, 371.0, 2156.0, 42.0, 'essendon']

,Estimated resident population (no.),Population density (persons/km2),Median age - persons (years),Working age population (aged 15-64 years) (no.),Births (no.),Deaths (no.),Total born overseas (no.),Australian citizen (no.),Not an Australian citizen (no.),Employed (no.),...,Houses - total (no.),Townhouses - total (no.),Apartments - total (no.),Youth allowance (full time students/apprentices) (no.),Commonwealth rent assistance (no.),Number of employee jobs - total,Median weekly household rental payment ($),Rented (no.),Count of homeless persons (no.),SA2 Area Name
0,12313.0,3464.3,37.4,8783.0,108.0,64.0,3147.0,10340.0,1444.0,NaN,...,2256.0,1311.0,2670.0,112.0,491.0,NaN,371.0,2156.0,42.0,essendon

In [51]:
for dir in os.listdir('C:/Users/micha/MAST30034 Project 2/data/raw/ABS SA2 Inner Melbourne/'):
    curr_df = pd.read_csv('C:/Users/micha/MAST30034 Project 2/data/raw/ABS SA2 Inner Melbourne/'+dir)
    
    index = []
    for i in range(len(Wanted_Descriptors)):
        index.append(None)
    count = 0
    for descriptor in Wanted_Descriptors:
        r = curr_df.index[curr_df['Description'] == descriptor].to_list()[0]
        index[count] = r
        count+=1

    new_row = []
    for i in index:
        new_row.append(essendon['2021'][i])

    new_row.append(dir)

    SA2_df.loc[len(SA2_df)] = new_row

IndexError: list index out of range