In [5]:
import pandas as pd
import os

In [6]:
wanted_descriptors= [
    'Estimated resident population (no.)',
    'Population density (persons/km2)',
    'Median age - persons (years)',
    'Working age population (aged 15-64 years) (no.)',
    'Employed (no.)', 'Unemployed (no.)', 'Renter (no.)',
    'Health care and social assistance (no.)','Financial and insurance services (no.)',
    'Administrative and support services (no.)','Education and training (no.)',
    'Accommodation and food services (no.)','Public administration and safety (no.)',
    'Value of residential building ($m)', 'Houses - total (no.)', 
    'Townhouses - total (no.)', 'Apartments - total (no.)',
    'Median weekly household rental payment ($)', 'Rented (no.)',
    'Count of homeless persons (no.)','Used at least one form of public transport (train, tram, bus, ferry) (no.)', 
    'Median equivalised total household income (weekly) ($)'
]

wanted_descriptors.append('SA2 Area Name')
SA2_df_2020 = pd.DataFrame(columns= wanted_descriptors)
SA2_df_2021 = pd.DataFrame(columns= wanted_descriptors)
SA2_df_2022 = pd.DataFrame(columns= wanted_descriptors)

wanted_descriptors.pop()

'SA2 Area Name'

In [7]:
def ABS_df_get(year, df):
    for dir in os.listdir('../data/raw/ABS SA2 Inner Melbourne'):
        curr_df = pd.read_csv('../data/raw/ABS SA2 Inner Melbourne/'+dir)

        indecies = []
        for i in range(len(wanted_descriptors)):
            indecies.append(None)
        
        count = 0
        for descriptor in wanted_descriptors:
            try:
                r = curr_df.index[curr_df['Description'] == descriptor].to_list()[0] 
                indecies[count] = r
                count+=1
            except:
                indecies[count] = None
                count+=1
        

        new_row = []

        for i in indecies:
            try:
                new_row.append(curr_df[year][i])
            except:
                new_row.append(None)


        new_row.append(dir)

        df.loc[len(df)] = new_row

In [8]:
ABS_df_get('2020', SA2_df_2020)
ABS_df_get('2021', SA2_df_2021)
ABS_df_get('2022', SA2_df_2022)

In [9]:
SA2_df_2022

,Estimated resident population (no.),Population density (persons/km2),Median age - persons (years),Working age population (aged 15-64 years) (no.),Employed (no.),Unemployed (no.),Renter (no.),Health care and social assistance (no.),Financial and insurance services (no.),Administrative and support services (no.),...,Value of residential building ($m),Houses - total (no.),Townhouses - total (no.),Apartments - total (no.),Median weekly household rental payment ($),Rented (no.),Count of homeless persons (no.),"Used at least one form of public transport (train, tram, bus, ferry) (no.)",Median equivalised total household income (weekly) ($),SA2 Area Name
0,14192.0,2087.7,NaN,NaN,NaN,NaN,NaN,62.0,58.0,62.0,...,30.0,5533.0,306.0,145.0,NaN,NaN,NaN,NaN,NaN,Region summary_ Croydon - West SA2 211031451.csv
1,15116.0,4302.4,NaN,NaN,NaN,NaN,NaN,184.0,52.0,53.0,...,77.0,3469.0,1561.0,1780.0,NaN,NaN,NaN,NaN,NaN,Region summary_ Northcote - East SA2 206021499...
2,9609.0,2030.6,NaN,NaN,NaN,NaN,NaN,105.0,28.0,109.0,...,38.0,2680.0,1026.0,371.0,NaN,NaN,NaN,NaN,NaN,Region summary_ Sunshine SA2 213011336.csv
3,17452.0,3768.5,NaN,NaN,NaN,NaN,NaN,102.0,43.0,57.0,...,59.0,3576.0,3843.0,286.0,NaN,NaN,NaN,NaN,NaN,Region summary_ Pascoe Vale SA2 210031538.csv
4,15967.0,6615.7,NaN,NaN,NaN,NaN,NaN,157.0,51.0,92.0,...,57.0,1237.0,1311.0,6866.0,NaN,NaN,NaN,NaN,NaN,Region summary_ St Kilda East SA2 206051134.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,13294.0,2379.3,NaN,NaN,NaN,NaN,NaN,61.0,23.0,75.0,...,8.0,4143.0,598.0,5.0,NaN,NaN,NaN,NaN,NaN,Region summary_ Endeavour Hills - South SA2 21...
300,16195.0,1999.8,NaN,NaN,NaN,NaN,NaN,104.0,27.0,56.0,...,100.0,5332.0,1390.0,509.0,NaN,NaN,NaN,NaN,NaN,Region summary_ Croydon - East SA2 211031450.csv
301,7978.0,2010.3,NaN,NaN,NaN,NaN,NaN,38.0,6.0,58.0,...,7.0,2642.0,127.0,117.0,NaN,NaN,NaN,NaN,NaN,Region summary_ Craigieburn - Central SA2 2100...
302,102101.0,2743.8,NaN,NaN,NaN,NaN,NaN,1213.0,1038.0,577.0,...,1025.0,25859.0,10036.0,6996.0,NaN,NaN,NaN,NaN,NaN,Region summary_ Bayside SA3 20801.csv
303,7805.0,1824.9,NaN,NaN,NaN,NaN,NaN,145.0,82.0,31.0,...,87.0,2369.0,123.0,643.0,NaN,NaN,NaN,NaN,NaN,Region summary_ Ivanhoe East - Eaglemont SA2 2...

In [10]:
SA2_df_2021.to_csv('../data/curated/2021ABS.csv')