In [2]:
import pandas as pd
import os

In [3]:
wanted_descriptors= [
    'Estimated resident population (no.)',
    'Population density (persons/km2)',
    'Median age - persons (years)',
    'Working age population (aged 15-64 years) (no.)',
    'Employed (no.)', 'Unemployed (no.)', 'Renter (no.)',
    'Health care and social assistance (no.)','Financial and insurance services (no.)',
    'Administrative and support services (no.)','Education and training (no.)',
    'Accommodation and food services (no.)','Public administration and safety (no.)',
    'Value of residential building ($m)', 'Houses - total (no.)', 
    'Townhouses - total (no.)', 'Apartments - total (no.)',
    'Median weekly household rental payment ($)', 'Rented (no.)',
    'Count of homeless persons (no.)','Used at least one form of public transport (train, tram, bus, ferry) (no.)', 
    'Median equivalised total household income (weekly) ($)'
]

wanted_descriptors.append('SA2 Area Name')
SA2_df_2020 = pd.DataFrame(columns= wanted_descriptors)
SA2_df_2021 = pd.DataFrame(columns= wanted_descriptors)
SA2_df_2022 = pd.DataFrame(columns= wanted_descriptors)

wanted_descriptors.pop()

'SA2 Area Name'

In [4]:
def ABS_df_get(year, df):
    for dir in os.listdir('../data/raw/ABS SA2 Inner Melbourne'):
        curr_df = pd.read_csv('../data/raw/ABS SA2 Inner Melbourne/'+dir)

        indecies = []
        for i in range(len(wanted_descriptors)):
            indecies.append(None)
        
        count = 0
        for descriptor in wanted_descriptors:
            try:
                r = curr_df.index[curr_df['Description'] == descriptor].to_list()[0] 
                indecies[count] = r
                count+=1
            except:
                indecies[count] = None
                count+=1
        

        new_row = []

        for i in indecies:
            try:
                new_row.append(curr_df[year][i])
            except:
                new_row.append(None)


        new_row.append(dir)

        df.loc[len(df)] = new_row

In [5]:
ABS_df_get('2020', SA2_df_2020)
ABS_df_get('2021', SA2_df_2021)
ABS_df_get('2022', SA2_df_2022)

In [7]:
SA2_df_2022

,Estimated resident population (no.),Population density (persons/km2),Median age - persons (years),Working age population (aged 15-64 years) (no.),Employed (no.),Unemployed (no.),Renter (no.),Health care and social assistance (no.),Financial and insurance services (no.),Administrative and support services (no.),...,Value of residential building ($m),Houses - total (no.),Townhouses - total (no.),Apartments - total (no.),Median weekly household rental payment ($),Rented (no.),Count of homeless persons (no.),"Used at least one form of public transport (train, tram, bus, ferry) (no.)",Median equivalised total household income (weekly) ($),SA2 Area Name
0,16152.0,3455.2,NaN,NaN,NaN,NaN,NaN,363.0,570.0,245.0,...,91.0,832.0,2944.0,5683.0,NaN,NaN,NaN,NaN,NaN,Region summary_ Albert Park SA2 206051128.csv
1,17299.0,21516.2,NaN,NaN,NaN,NaN,NaN,99.0,134.0,113.0,...,5.0,5.0,199.0,12451.0,NaN,NaN,NaN,NaN,NaN,Region summary_ Southbank - East SA2 206041509...
2,17964.0,1345.0,NaN,NaN,NaN,NaN,NaN,166.0,102.0,87.0,...,37.0,5206.0,1281.0,434.0,NaN,NaN,NaN,NaN,NaN,Region summary_ Wantirna South SA2 211011260.csv
3,9173.0,5802.8,NaN,NaN,NaN,NaN,NaN,78.0,32.0,47.0,...,216.0,926.0,940.0,3285.0,NaN,NaN,NaN,NaN,NaN,Region summary_ Flemington SA2 206031115.csv
4,13239.0,5495.4,NaN,NaN,NaN,NaN,NaN,128.0,39.0,58.0,...,71.0,2529.0,1853.0,2136.0,NaN,NaN,NaN,NaN,NaN,Region summary_ Brunswick - North SA2 20601149...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,19493.0,2604.5,NaN,NaN,NaN,NaN,NaN,125.0,40.0,162.0,...,71.0,3733.0,3527.0,799.0,NaN,NaN,NaN,NaN,NaN,Region summary_ Braybrook SA2 213031347.csv
299,13491.0,2768.0,NaN,NaN,NaN,NaN,NaN,47.0,35.0,49.0,...,6.0,4512.0,106.0,20.0,NaN,NaN,NaN,NaN,NaN,Region summary_ Narre Warren - North East SA2 ...
300,7458.0,1984.9,NaN,NaN,NaN,NaN,NaN,22.0,16.0,51.0,...,4.0,2560.0,28.0,283.0,NaN,NaN,NaN,NaN,NaN,Region summary_ Noble Park North SA2 212041316...
301,None,None,NaN,NaN,NaN,NaN,NaN,None,None,None,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,Region summary_ Royal Botanic Gardens Victoria...
302,19475.0,3621.4,NaN,NaN,NaN,NaN,NaN,140.0,39.0,232.0,...,27.0,4955.0,729.0,10.0,NaN,NaN,NaN,NaN,NaN,Region summary_ Truganina - South West SA2 213...

In [5]:
SA2_df_2020.to_csv('2020ABS_csv')
SA2_df_2021.to_csv('2021ABS_csv')
SA2_df_2022.to_csv('2022ABS_csv')

In [1]:
SA2_df_2020

NameError: name 'SA2_df_2020' is not defined