In [1]:
import pandas as pd

In [4]:
apartments = pd.read_csv('../data/curated/geometry_property.csv')
tram_stops = pd.read_csv('../data/curated/tram_stop.csv')
train_stations = pd.read_csv('../data/curated/train_station.csv')

In [11]:
import math 
# Function to calculate Haversine distance

def haversine_distance(lat1, lon1, lat2, lon2):
    """
    Calculate the Haversine distance between two points on the Earth's surface.
    
    :param lat1: Latitude of the first point (in degrees)
    :param lon1: Longitude of the first point (in degrees)
    :param lat2: Latitude of the second point (in degrees)
    :param lon2: Longitude of the second point (in degrees)
    :return: Distance in kilometers
    """
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])

    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = math.sin(dlat/2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon/2)**2
    c = 2 * math.asin(math.sqrt(a))

    # Radius of the Earth (mean value), in kilometers
    radius = 6371.0

    # Calculate the distance
    distance = radius * c

    return distance


# Initialize a list to store the counts
tram_counts = []

# Loop through each apartment
for index, apartment in apartments.iterrows():
    apartment_lat = apartment["Latitude"]
    apartment_lon = apartment["Longitude"]
    
    # Initialize a count for tram stops within 500 meters
    stops_within_500m = 0

    # Calculate the distance to each tram stop and count those within 500 meters
    for _, tram_stop in tram_stops.iterrows():
        stop_lat = tram_stop["LATITUDE"]
        stop_lon = tram_stop["LONGITUDE"]
        
        distance = haversine_distance(apartment_lat, apartment_lon, stop_lat, stop_lon)
        if distance <= 1:  # 500 meters in kilometers
            stops_within_500m += 1
    
    # Append the count to the tram_counts list
    tram_counts.append(stops_within_500m)

# Add the tram_counts list as a new column in the apartments_df
apartments["TramStopsWithin500m"] = tram_counts

In [12]:
sorted_df = apartments.sort_values(by="TramStopsWithin500m", ascending=False)

In [13]:
sorted_df

,Unnamed: 0,Address,Suburb,Prices,Estimated resident population (no.),Population density (persons/km2),Median age - persons (years),Working age population (aged 15-64 years) (no.),Employed (no.),Unemployed (no.),...,Houses - total (no.),Townhouses - total (no.),Apartments - total (no.),Median weekly household rental payment ($),Rented (no.),Count of homeless persons (no.),"Used at least one form of public transport (train, tram, bus, ferry) (no.)",Longitude,Latitude,TramStopsWithin500m
0,0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",HOPPERS CROSSING,450.0,37666.0,4420.4,74.1,25272.0,0.0,0.0,...,11732.0,1105.0,1123.0,681.0,3309.0,228.0,884.0,144.686796,37.872562,0
2912,2912,"3/81 Eva Street, \nCLAYTON VIC 3168",CLAYTON,540.0,13570.0,1709.5,34.5,9602.0,0.0,0.0,...,2960.0,1799.0,629.0,381.0,1886.0,138.0,595.0,145.114165,37.920262,0
2918,2918,"2802/89 Gladstone Street, \nSOUTH MELBOURNE VI...",SOUTH MELBOURNE,780.0,11860.0,6276.1,39.5,8599.0,0.0,0.0,...,309.0,2393.0,4713.0,421.0,3064.0,123.0,554.0,NaN,NaN,0
2917,2917,"21 Cockatiel Circuit, \nCRAIGIEBURN VIC 3064",CRAIGIEBURN,540.0,57607.0,11196.5,125.9,38853.0,0.0,0.0,...,15458.0,2030.0,204.0,1523.0,4657.0,129.0,1266.0,144.907008,37.575107,0
2916,2916,"102/51 Napoleon Street, \nCOLLINGWOOD VIC 3066",COLLINGWOOD,540.0,9348.0,7378.6,33.2,7787.0,0.0,0.0,...,290.0,1377.0,3948.0,425.0,2888.0,28.0,492.0,144.986855,37.801638,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462,1462,"11/65 Stawell Street, \nRICHMOND VIC 3121",RICHMOND,650.0,14083.0,7322.3,34.3,11182.0,0.0,0.0,...,800.0,1760.0,5641.0,400.0,4011.0,80.0,872.0,145.010352,37.821522,0
1463,1463,"6 Peers Street, \nRICHMOND VIC 3121",RICHMOND,650.0,14083.0,7322.3,34.3,11182.0,0.0,0.0,...,800.0,1760.0,5641.0,400.0,4011.0,80.0,872.0,144.994301,37.813615,0
1464,1464,"49 Laity St, \nRICHMOND VIC 3121",RICHMOND,650.0,14083.0,7322.3,34.3,11182.0,0.0,0.0,...,800.0,1760.0,5641.0,400.0,4011.0,80.0,872.0,145.002736,37.813293,0
1465,1465,"49 Neptune St, \nRICHMOND VIC 3121",RICHMOND,650.0,14083.0,7322.3,34.3,11182.0,0.0,0.0,...,800.0,1760.0,5641.0,400.0,4011.0,80.0,872.0,145.006822,37.821859,0
4370,4370,"8/18 Cochrane Street, \nBRIGHTON VIC 3186",BRIGHTON,470.0,39748.0,5788.0,92.0,23818.0,0.0,0.0,...,10160.0,3920.0,2609.0,1202.0,3251.0,28.0,665.0,145.000262,37.892714,0