In [17]:
import pandas as pd

In [18]:
apartments = pd.read_csv('../data/curated/geometry_property.csv')
tram_stops = pd.read_csv('../data/curated/tram_stop.csv')
train_stations = pd.read_csv('../data/curated/train_station.csv')

In [19]:
apartments

,Unnamed: 0,Address,Suburb,Prices,Estimated resident population (no.),Population density (persons/km2),Median age - persons (years),Working age population (aged 15-64 years) (no.),Employed (no.),Unemployed (no.),...,Townhouses - total (no.),Apartments - total (no.),Median weekly household rental payment ($),Rented (no.),Count of homeless persons (no.),"Used at least one form of public transport (train, tram, bus, ferry) (no.)",Latitude,Longitude,latitude,longitude
0,0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",HOPPERS CROSSING,450.0,37666.0,4420.4,74.1,25272.0,0.0,0.0,...,1105.0,1123.0,681.0,3309.0,228.0,884.0,0,0,-37.872563,144.686795
1,1,"7/1 Mabel Street, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,...,1189.0,1529.0,440.0,1505.0,16.0,343.0,0,0,-37.761896,145.029437
2,2,"2/59 Green Street, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,...,1189.0,1529.0,440.0,1505.0,16.0,343.0,0,0,-37.764732,145.035655
3,3,"104/15 Ivanhoe Parade, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,...,1189.0,1529.0,440.0,1505.0,16.0,343.0,0,0,-37.765456,145.044514
4,4,"63 Dunne Street, \nKINGSBURY VIC 3083",KINGSBURY,450.0,10564.0,1172.6,34.0,7808.0,0.0,0.0,...,831.0,1250.0,369.0,1285.0,120.0,382.0,0,0,-37.714056,145.037364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4366,4366,"156 Black Forest Road, \nWYNDHAM VALE VIC 3024",WYNDHAM VALE,465.0,22858.0,2941.3,63.4,15428.0,0.0,0.0,...,345.0,20.0,686.0,2192.0,101.0,651.0,0,0,-37.899498,144.609698
4367,4367,"104/118 Pier Street, \nALTONA VIC 3018",ALTONA,470.0,28738.0,1704.2,78.8,18016.0,0.0,0.0,...,3695.0,818.0,790.0,3440.0,108.0,600.0,0,0,-37.868826,144.830352
4368,4368,"2/35 Ailsa Street, \nALTONA MEADOWS VIC 3028",ALTONA MEADOWS,470.0,18665.0,1770.6,40.9,12311.0,0.0,0.0,...,769.0,436.0,341.0,1895.0,52.0,380.0,0,0,-37.870238,144.762616
4369,4369,"6 Stringybark Court, \nBERWICK VIC 3806",BERWICK,470.0,23187.0,1174.1,43.3,14432.0,0.0,0.0,...,1728.0,20.0,380.0,1533.0,140.0,241.0,0,0,-38.026246,145.324107
4370,4370,"8/18 Cochrane Street, \nBRIGHTON VIC 3186",BRIGHTON,470.0,39748.0,5788.0,92.0,23818.0,0.0,0.0,...,3920.0,2609.0,1202.0,3251.0,28.0,665.0,0,0,-37.892714,145.000262

In [20]:
# Calculate Haversine Distance
import math

def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # Radius of the earth in km
    dLat = math.radians(lat2 - lat1)
    dLon = math.radians(lon2 - lon1)
    a = math.sin(dLat / 2) * math.sin(dLat / 2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dLon / 2) * math.sin(dLon / 2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    d = R * c  # Distance in km
    return d

In [23]:
for index, row in apartments.iterrows():
    lon1 = row['longitude']
    lat1 = row['latitude']
    
    num_stops = 0
    for index_stops, row in tram_stops.iterrows():
        lon2 = row['LONGITUDE']
        lat2 = row['LATITUDE']
    
        distance = haversine(lat1, lon1, lat2, lon2)
        if distance <= 0.5:
            num_stops += 1

    apartments.at[index, 'num_stops'] = num_stops

In [27]:
for index, row in apartments.iterrows():
    lon1 = row['longitude']
    lat1 = row['latitude']
    
    for index_stops, row in train_stations.iterrows():
        lon2 = row['LONGITUDE']
        lat2 = row['LATITUDE']
    
        distance = haversine(lat1, lon1, lat2, lon2)
        if distance <= 0.5:
            num_stops += 1

    apartments.at[index, 'num_stops'] = num_stops

In [28]:
sorted_apartments = apartments.sort_values(by='num_stops', ascending=False)
sorted_apartments

,Unnamed: 0,Address,Suburb,Prices,Estimated resident population (no.),Population density (persons/km2),Median age - persons (years),Working age population (aged 15-64 years) (no.),Employed (no.),Unemployed (no.),...,Median weekly household rental payment ($),Rented (no.),Count of homeless persons (no.),"Used at least one form of public transport (train, tram, bus, ferry) (no.)",Latitude,Longitude,latitude,longitude,distance,num_stops
4370,4370,"8/18 Cochrane Street, \nBRIGHTON VIC 3186",BRIGHTON,470.0,39748.0,5788.0,92.0,23818.0,0.0,0.0,...,1202.0,3251.0,28.0,665.0,0,0,-37.892714,145.000262,NaN,727.0
4369,4369,"6 Stringybark Court, \nBERWICK VIC 3806",BERWICK,470.0,23187.0,1174.1,43.3,14432.0,0.0,0.0,...,380.0,1533.0,140.0,241.0,0,0,-38.026246,145.324107,NaN,727.0
4368,4368,"2/35 Ailsa Street, \nALTONA MEADOWS VIC 3028",ALTONA MEADOWS,470.0,18665.0,1770.6,40.9,12311.0,0.0,0.0,...,341.0,1895.0,52.0,380.0,0,0,-37.870238,144.762616,NaN,727.0
4367,4367,"104/118 Pier Street, \nALTONA VIC 3018",ALTONA,470.0,28738.0,1704.2,78.8,18016.0,0.0,0.0,...,790.0,3440.0,108.0,600.0,0,0,-37.868826,144.830352,NaN,726.0
4366,4366,"156 Black Forest Road, \nWYNDHAM VALE VIC 3024",WYNDHAM VALE,465.0,22858.0,2941.3,63.4,15428.0,0.0,0.0,...,686.0,2192.0,101.0,651.0,0,0,-37.899498,144.609698,NaN,725.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,4,"63 Dunne Street, \nKINGSBURY VIC 3083",KINGSBURY,450.0,10564.0,1172.6,34.0,7808.0,0.0,0.0,...,369.0,1285.0,120.0,382.0,0,0,-37.714056,145.037364,NaN,1.0
3,3,"104/15 Ivanhoe Parade, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,...,440.0,1505.0,16.0,343.0,0,0,-37.765456,145.044514,NaN,1.0
2,2,"2/59 Green Street, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,...,440.0,1505.0,16.0,343.0,0,0,-37.764732,145.035655,NaN,0.0
1,1,"7/1 Mabel Street, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,...,440.0,1505.0,16.0,343.0,0,0,-37.761896,145.029437,NaN,0.0
0,0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",HOPPERS CROSSING,450.0,37666.0,4420.4,74.1,25272.0,0.0,0.0,...,681.0,3309.0,228.0,884.0,0,0,-37.872563,144.686795,NaN,0.0