In [6]:
import pandas as pd

In [7]:
data = pd.read_csv('../data/curated/Property_external.csv')

In [8]:
# Import necessary modules
import geopandas as gpd
from shapely.geometry import Point

# Import the geocoding tool
from geopandas.tools import geocode

# Geocode addresses using Nominatim. Remember to provide a custom "application name" in the user_agent parameter!
geo = geocode(data['Address'], provider='nominatim', user_agent='autogis_xx', timeout = 10)

In [13]:
geo

,geometry,address
0,POINT (144.686796 -37.872562),"Durham Crescent, Mossfiel, Hoppers Crossing, M..."
1,POINT (145.029437 -37.761896),"Mabel Street, Ivanhoe, Melbourne, City of Bany..."
2,POINT (145.035655 -37.764732),"Green Street, Ivanhoe, Melbourne, City of Bany..."
3,POINT (145.044514 -37.765456),"Ivanhoe Parade, Ivanhoe, Melbourne, City of Ba..."
4,POINT (145.037364 -37.714056),"63, Dunne Street, Kingsbury, Melbourne, City o..."
...,...,...
4366,POINT (144.609698 -37.899498),"Black Forest Road, Wyndham Vale, Melbourne, Ci..."
4367,POINT (144.830352 -37.868826),"Pier Street, Altona Shopping Centre, Altona, M..."
4368,POINT (144.762616 -37.870238),"Ailsa Street South, Altona Meadows, Melbourne,..."
4369,POINT (145.324107 -38.026246),"Stringybark Court, Berwick, Melbourne, City of..."
4370,POINT (145.000262 -37.892714),"Cochrane Street, Brighton, Melbourne, City of ..."

In [10]:
# Convert the 'geometry' column to strings
geo['geometry'] = geo['geometry'].astype(str)

# Extract longitude and latitude into new columns
data['Longitude'] = geo['geometry'].str.extract(r'(\d+\.\d+)')[0].astype(float)
data['Latitude'] = geo['geometry'].str.extract(r'-(\d+\.\d+)')[0].astype(float)

/Users/vanessagraciatan/opt/anaconda3/lib/python3.9/site-packages/geopandas/geodataframe.py:1537: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")

In [11]:
data

,Unnamed: 0,Address,Suburb,Prices,Estimated resident population (no.),Population density (persons/km2),Median age - persons (years),Working age population (aged 15-64 years) (no.),Employed (no.),Unemployed (no.),...,Value of residential building ($m),Houses - total (no.),Townhouses - total (no.),Apartments - total (no.),Median weekly household rental payment ($),Rented (no.),Count of homeless persons (no.),"Used at least one form of public transport (train, tram, bus, ferry) (no.)",Longitude,Latitude
0,0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",HOPPERS CROSSING,450.0,37666.0,4420.4,74.1,25272.0,0.0,0.0,...,18.0,11732.0,1105.0,1123.0,681.0,3309.0,228.0,884.0,144.686796,37.872562
1,1,"7/1 Mabel Street, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,...,35.0,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,145.029437,37.761896
2,2,"2/59 Green Street, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,...,35.0,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,145.035655,37.764732
3,3,"104/15 Ivanhoe Parade, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,...,35.0,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,145.044514,37.765456
4,4,"63 Dunne Street, \nKINGSBURY VIC 3083",KINGSBURY,450.0,10564.0,1172.6,34.0,7808.0,0.0,0.0,...,8.0,2381.0,831.0,1250.0,369.0,1285.0,120.0,382.0,145.037364,37.714056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4366,4366,"156 Black Forest Road, \nWYNDHAM VALE VIC 3024",WYNDHAM VALE,465.0,22858.0,2941.3,63.4,15428.0,0.0,0.0,...,219.0,7493.0,345.0,20.0,686.0,2192.0,101.0,651.0,144.609698,37.899498
4367,4367,"104/118 Pier Street, \nALTONA VIC 3018",ALTONA,470.0,28738.0,1704.2,78.8,18016.0,0.0,0.0,...,196.0,8125.0,3695.0,818.0,790.0,3440.0,108.0,600.0,144.830352,37.868826
4368,4368,"2/35 Ailsa Street, \nALTONA MEADOWS VIC 3028",ALTONA MEADOWS,470.0,18665.0,1770.6,40.9,12311.0,0.0,0.0,...,11.0,6570.0,769.0,436.0,341.0,1895.0,52.0,380.0,144.762616,37.870238
4369,4369,"6 Stringybark Court, \nBERWICK VIC 3806",BERWICK,470.0,23187.0,1174.1,43.3,14432.0,0.0,0.0,...,33.0,7430.0,1728.0,20.0,380.0,1533.0,140.0,241.0,145.324107,38.026246
4370,4370,"8/18 Cochrane Street, \nBRIGHTON VIC 3186",BRIGHTON,470.0,39748.0,5788.0,92.0,23818.0,0.0,0.0,...,360.0,10160.0,3920.0,2609.0,1202.0,3251.0,28.0,665.0,145.000262,37.892714

In [14]:
# Define the absolute path for saving the file
file_path = '../data/curated/geometry_property.csv'

# Save the DataFrame to the specified absolute path
data.to_csv(file_path, index=False)