In [8]:
import pandas as pd

In [9]:
data = pd.read_csv('../data/curated/Property_external.csv')
data

,Address,Suburb,Prices,Estimated resident population (no.),Population density (persons/km2),Median age - persons (years),Working age population (aged 15-64 years) (no.),Employed (no.),Unemployed (no.),Renter (no.),...,Public administration and safety (no.),Value of residential building ($m),Houses - total (no.),Townhouses - total (no.),Apartments - total (no.),Median weekly household rental payment ($),Rented (no.),Count of homeless persons (no.),"Used at least one form of public transport (train, tram, bus, ferry) (no.)",Median equivalised total household income (weekly) ($)
0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",HOPPERS CROSSING,450.0,37666.0,4420.4,74.1,25272.0,0.0,0.0,193.0,...,17.0,18.0,11732.0,1105.0,1123.0,681.0,3309.0,228.0,884.0,1866.0
1,"7/1 Mabel Street, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,27.0,...,3.0,35.0,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,1510.0
2,"2/59 Green Street, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,27.0,...,3.0,35.0,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,1510.0
3,"104/15 Ivanhoe Parade, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,27.0,...,3.0,35.0,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,1510.0
4,"63 Dunne Street, \nKINGSBURY VIC 3083",KINGSBURY,450.0,10564.0,1172.6,34.0,7808.0,0.0,0.0,53.0,...,3.0,8.0,2381.0,831.0,1250.0,369.0,1285.0,120.0,382.0,1055.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4309,"156 Black Forest Road, \nWYNDHAM VALE VIC 3024",WYNDHAM VALE,465.0,22858.0,2941.3,63.4,15428.0,0.0,0.0,244.0,...,3.0,219.0,7493.0,345.0,20.0,686.0,2192.0,101.0,651.0,2036.0
4310,"104/118 Pier Street, \nALTONA VIC 3018",ALTONA,470.0,28738.0,1704.2,78.8,18016.0,0.0,0.0,102.0,...,9.0,196.0,8125.0,3695.0,818.0,790.0,3440.0,108.0,600.0,2288.0
4311,"2/35 Ailsa Street, \nALTONA MEADOWS VIC 3028",ALTONA MEADOWS,470.0,18665.0,1770.6,40.9,12311.0,0.0,0.0,67.0,...,13.0,11.0,6570.0,769.0,436.0,341.0,1895.0,52.0,380.0,992.0
4312,"6 Stringybark Court, \nBERWICK VIC 3806",BERWICK,470.0,23187.0,1174.1,43.3,14432.0,0.0,0.0,36.0,...,5.0,33.0,7430.0,1728.0,20.0,380.0,1533.0,140.0,241.0,1117.0
4313,"8/18 Cochrane Street, \nBRIGHTON VIC 3186",BRIGHTON,470.0,39748.0,5788.0,92.0,23818.0,0.0,0.0,32.0,...,6.0,360.0,10160.0,3920.0,2609.0,1202.0,3251.0,28.0,665.0,3406.0

In [10]:
import pandas as pd

# Assuming you have a DataFrame 'clean_addr' with an 'Address' column
# Example DataFrame:
# clean_addr = pd.DataFrame({'Address': ["603/628 Flinders Street, DOCKLANDS VIC 3008",
#                                       "123/456 Elm Street, City, State"]})

# Split the 'Address' column by '/' and get the second part
# Extract the address conditionally based on the presence of '/'
data['Extracted_Address'] = data['Address'].apply(
    lambda address: address.split('/')[1].strip() if '/' in address else address.strip()
)

# Display the resulting DataFrame with the extracted addresses
data

,Address,Suburb,Prices,Estimated resident population (no.),Population density (persons/km2),Median age - persons (years),Working age population (aged 15-64 years) (no.),Employed (no.),Unemployed (no.),Renter (no.),...,Value of residential building ($m),Houses - total (no.),Townhouses - total (no.),Apartments - total (no.),Median weekly household rental payment ($),Rented (no.),Count of homeless persons (no.),"Used at least one form of public transport (train, tram, bus, ferry) (no.)",Median equivalised total household income (weekly) ($),Extracted_Address
0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",HOPPERS CROSSING,450.0,37666.0,4420.4,74.1,25272.0,0.0,0.0,193.0,...,18.0,11732.0,1105.0,1123.0,681.0,3309.0,228.0,884.0,1866.0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029"
1,"7/1 Mabel Street, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,27.0,...,35.0,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,1510.0,"1 Mabel Street, \nIVANHOE VIC 3079"
2,"2/59 Green Street, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,27.0,...,35.0,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,1510.0,"59 Green Street, \nIVANHOE VIC 3079"
3,"104/15 Ivanhoe Parade, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,27.0,...,35.0,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,1510.0,"15 Ivanhoe Parade, \nIVANHOE VIC 3079"
4,"63 Dunne Street, \nKINGSBURY VIC 3083",KINGSBURY,450.0,10564.0,1172.6,34.0,7808.0,0.0,0.0,53.0,...,8.0,2381.0,831.0,1250.0,369.0,1285.0,120.0,382.0,1055.0,"63 Dunne Street, \nKINGSBURY VIC 3083"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4309,"156 Black Forest Road, \nWYNDHAM VALE VIC 3024",WYNDHAM VALE,465.0,22858.0,2941.3,63.4,15428.0,0.0,0.0,244.0,...,219.0,7493.0,345.0,20.0,686.0,2192.0,101.0,651.0,2036.0,"156 Black Forest Road, \nWYNDHAM VALE VIC 3024"
4310,"104/118 Pier Street, \nALTONA VIC 3018",ALTONA,470.0,28738.0,1704.2,78.8,18016.0,0.0,0.0,102.0,...,196.0,8125.0,3695.0,818.0,790.0,3440.0,108.0,600.0,2288.0,"118 Pier Street, \nALTONA VIC 3018"
4311,"2/35 Ailsa Street, \nALTONA MEADOWS VIC 3028",ALTONA MEADOWS,470.0,18665.0,1770.6,40.9,12311.0,0.0,0.0,67.0,...,11.0,6570.0,769.0,436.0,341.0,1895.0,52.0,380.0,992.0,"35 Ailsa Street, \nALTONA MEADOWS VIC 3028"
4312,"6 Stringybark Court, \nBERWICK VIC 3806",BERWICK,470.0,23187.0,1174.1,43.3,14432.0,0.0,0.0,36.0,...,33.0,7430.0,1728.0,20.0,380.0,1533.0,140.0,241.0,1117.0,"6 Stringybark Court, \nBERWICK VIC 3806"
4313,"8/18 Cochrane Street, \nBRIGHTON VIC 3186",BRIGHTON,470.0,39748.0,5788.0,92.0,23818.0,0.0,0.0,32.0,...,360.0,10160.0,3920.0,2609.0,1202.0,3251.0,28.0,665.0,3406.0,"18 Cochrane Street, \nBRIGHTON VIC 3186"

In [11]:
data[1:26]

,Address,Suburb,Prices,Estimated resident population (no.),Population density (persons/km2),Median age - persons (years),Working age population (aged 15-64 years) (no.),Employed (no.),Unemployed (no.),Renter (no.),...,Value of residential building ($m),Houses - total (no.),Townhouses - total (no.),Apartments - total (no.),Median weekly household rental payment ($),Rented (no.),Count of homeless persons (no.),"Used at least one form of public transport (train, tram, bus, ferry) (no.)",Median equivalised total household income (weekly) ($),Extracted_Address
1,"7/1 Mabel Street, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,27.0,...,35.0,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,1510.0,"1 Mabel Street, \nIVANHOE VIC 3079"
2,"2/59 Green Street, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,27.0,...,35.0,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,1510.0,"59 Green Street, \nIVANHOE VIC 3079"
3,"104/15 Ivanhoe Parade, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,27.0,...,35.0,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,1510.0,"15 Ivanhoe Parade, \nIVANHOE VIC 3079"
4,"63 Dunne Street, \nKINGSBURY VIC 3083",KINGSBURY,450.0,10564.0,1172.6,34.0,7808.0,0.0,0.0,53.0,...,8.0,2381.0,831.0,1250.0,369.0,1285.0,120.0,382.0,1055.0,"63 Dunne Street, \nKINGSBURY VIC 3083"
5,"29 Tandarra Crescent, \nLALOR VIC 3075",LALOR,450.0,23663.0,4579.1,75.1,15020.0,0.0,0.0,121.0,...,42.0,7707.0,515.0,572.0,716.0,2182.0,154.0,648.0,1535.0,"29 Tandarra Crescent, \nLALOR VIC 3075"
6,"12 Julie Court, \nLANGWARRIN VIC 3910",LANGWARRIN,450.0,25248.0,671.1,38.4,16450.0,0.0,0.0,64.0,...,47.0,8037.0,1431.0,25.0,365.0,1530.0,49.0,151.0,1138.0,"12 Julie Court, \nLANGWARRIN VIC 3910"
7,"8/18 Johnstone Street, \nMALVERN VIC 3144",MALVERN,450.0,22221.0,2936.7,38.2,14931.0,0.0,0.0,25.0,...,105.0,4789.0,2224.0,2731.0,421.0,2540.0,205.0,746.0,1556.0,"18 Johnstone Street, \nMALVERN VIC 3144"
8,"22 Campbell Street, \nFRANKSTON VIC 3199",FRANKSTON,2100.0,62521.0,4843.5,121.2,39777.0,0.0,0.0,455.0,...,68.0,21147.0,4743.0,1416.0,1096.0,8000.0,650.0,751.0,2972.0,"22 Campbell Street, \nFRANKSTON VIC 3199"
9,"1584 Boneo Road, \nFLINDERS VIC 3929",FLINDERS,2150.0,6021.0,21.0,56.2,3295.0,0.0,0.0,3.0,...,79.0,3864.0,25.0,30.0,424.0,246.0,13.0,12.0,1389.0,"1584 Boneo Road, \nFLINDERS VIC 3929"
10,"84 Toorak Road West, \nSOUTH YARRA VIC 3141",SOUTH YARRA,2200.0,28123.0,21662.2,106.5,22280.0,0.0,0.0,76.0,...,79.0,1181.0,2094.0,15905.0,1278.0,8671.0,64.0,1947.0,5129.0,"84 Toorak Road West, \nSOUTH YARRA VIC 3141"
11,"14 Godfrey Crescent, \nDANDENONG VIC 3175",DANDENONG,620.0,54169.0,5306.3,105.8,35871.0,0.0,0.0,207.0,...,110.0,12152.0,5534.0,2756.0,992.0,7356.0,1157.0,1364.0,2324.0,"14 Godfrey Crescent, \nDANDENONG VIC 3175"
12,"603/628 Flinders Street, \nDOCKLANDS VIC 3008",DOCKLANDS,650.0,15942.0,6522.9,32.5,13715.0,0.0,0.0,45.0,...,2.0,59.0,152.0,10602.0,411.0,5056.0,18.0,1602.0,1451.0,"628 Flinders Street, \nDOCKLANDS VIC 3008"
13,"3515/628 Flinders Street, \nDOCKLANDS VIC 3008",DOCKLANDS,650.0,15942.0,6522.9,32.5,13715.0,0.0,0.0,45.0,...,2.0,59.0,152.0,10602.0,411.0,5056.0,18.0,1602.0,1451.0,"628 Flinders Street, \nDOCKLANDS VIC 3008"
14,"405/1 Point Park Crescent, \nDOCKLANDS VIC 3008",DOCKLANDS,620.0,15942.0,6522.9,32.5,13715.0,0.0,0.0,45.0,...,2.0,59.0,152.0,10602.0,411.0,5056.0,18.0,1602.0,1451.0,"1 Point Park Crescent, \nDOCKLANDS VIC 3008"
15,"4006/628 Flinders Street, \nDOCKLANDS VIC 3008",DOCKLANDS,620.0,15942.0,6522.9,32.5,13715.0,0.0,0.0,45.0,...,2.0,59.0,152.0,10602.0,411.0,5056.0,18.0,1602.0,1451.0,"628 Flinders Street, \nDOCKLANDS VIC 3008"
16,"2901/231 Harbour Esplanade, \nDOCKLANDS VIC 3008",DOCKLANDS,620.0,15942.0,6522.9,32.5,13715.0,0.0,0.0,45.0,...,2.0,59.0,152.0,10602.0,411.0,5056.0,18.0,1602.0,1451.0,"231 Harbour Esplanade, \nDOCKLANDS VIC 3008"
17,"218/60 Siddeley Street, \nDOCKLANDS VIC 3008",DOCKLANDS,620.0,15942.0,6522.9,32.5,13715.0,0.0,0.0,45.0,...,2.0,59.0,152.0,10602.0,411.0,5056.0,18.0,1602.0,1451.0,"60 Siddeley Street, \nDOCKLANDS VIC 3008"
18,"2309A/100 Harbour Esplanade, \nDOCKLANDS VIC 3008",DOCKLANDS,620.0,15942.0,6522.9,32.5,13715.0,0.0,0.0,45.0,...,2.0,59.0,152.0,10602.0,411.0,5056.0,18.0,1602.0,1451.0,"100 Harbour Esplanade, \nDOCKLANDS VIC 3008"
19,"1316/628 Flinders Street, \nDOCKLANDS VIC 3008",DOCKLANDS,620.0,15942.0,6522.9,32.5,13715.0,0.0,0.0,45.0,...,2.0,59.0,152.0,10602.0,411.0,5056.0,18.0,1602.0,1451.0,"628 Flinders Street, \nDOCKLANDS VIC 3008"
20,"42 Resort Boulevard, \nDOREEN VIC 3754",DOREEN,620.0,27064.0,3853.6,66.6,17539.0,0.0,0.0,144.0,...,93.0,8611.0,492.0,32.0,786.0,1856.0,37.0,446.0,2330.0,"42 Resort Boulevard, \nDOREEN VIC 3754"
21,"6/198 Sherbourne Road, \nELTHAM VIC 3095",ELTHAM,620.0,23711.0,1216.7,43.1,15046.0,0.0,0.0,21.0,...,32.0,7485.0,431.0,624.0,446.0,856.0,36.0,319.0,1395.0,"198 Sherbourne Road, \nELTHAM VIC 3095"
22,"1/166 Ogilvie Street, \nESSENDON VIC 3040",ESSENDON,620.0,12313.0,3464.3,37.4,8783.0,0.0,0.0,43.0,...,52.0,2256.0,1311.0,2670.0,371.0,2156.0,42.0,625.0,1459.0,"166 Ogilvie Street, \nESSENDON VIC 3040"
23,"1702/6 Joseph road, \nFOOTSCRAY VIC 3011",FOOTSCRAY,620.0,17420.0,3507.1,34.1,13694.0,0.0,0.0,82.0,...,248.0,2695.0,1326.0,5031.0,355.0,4123.0,278.0,1360.0,1233.0,"6 Joseph road, \nFOOTSCRAY VIC 3011"
24,"2/24 Panorama Street, \nCLAYTON VIC 3168",CLAYTON,690.0,13570.0,1709.5,34.5,9602.0,0.0,0.0,29.0,...,29.0,2960.0,1799.0,629.0,381.0,1886.0,138.0,595.0,940.0,"24 Panorama Street, \nCLAYTON VIC 3168"
25,"80 Hartliegh Street, \nCLYDE VIC 3978",CLYDE,690.0,25665.0,2310.5,61.8,16978.0,0.0,0.0,51.0,...,383.0,7644.0,171.0,0.0,831.0,1459.0,54.0,404.0,2329.0,"80 Hartliegh Street, \nCLYDE VIC 3978"

In [12]:
# Import necessary modules
import geopandas as gpd
from shapely.geometry import Point

# Import the geocoding tool
from geopandas.tools import geocode

# Geocode addresses using Nominatim. Remember to provide a custom "application name" in the user_agent parameter!
geo = geocode(data['Extracted_Address'], provider='nominatim', user_agent='autogis_xx', timeout = 10)

In [13]:
geo.to_csv('../data/landing/geometry.csv')

In [14]:
geo = pd.read_csv('../data/landing/geometry.csv')

In [15]:
has_nan = geo.isna().any().any()  # or df.isnull().any().any()
print("Has NaN values:", has_nan)

Has NaN values: True

In [17]:
from shapely.geometry import Point
# Create a boolean mask to identify rows with NaN values
nan_mask = geo.isnull().any(axis=1)

# Extract the indices of rows with NaN values
nan_indices = geo.index[nan_mask].tolist()
len(nan_indices)

112

In [18]:
for index in nan_indices: 
    data.drop(index, inplace=True)
    geo.drop(index, inplace=True)

In [19]:
geo = geo.reset_index(drop=True)

In [20]:
has_nan = geo.isna().any().any()  # or df.isnull().any().any()
print("Has NaN values:", has_nan)

Has NaN values: False

In [21]:
geo.to_csv('../data/landing/geometry.csv')

In [22]:
import geopandas as gpd
from shapely.wkt import loads

# Check if 'geometry' column is a GeoSeries
if not isinstance(geo['geometry'], gpd.GeoSeries):
    # Convert 'geometry' column to a GeoSeries
    geo['geometry'] = geo['geometry'].apply(lambda x: loads(x))
    geo = gpd.GeoDataFrame(geo, geometry='geometry')
    
    print("The 'geometry' column has been converted to a GeoSeries")

# Now, you should have the 'geometry' column as a GeoSeries

The 'geometry' column has been converted to a GeoSeries

In [23]:
# Extract latitude and longitude from the 'geometry' column
geo['latitude'] = geo['geometry'].y
geo['longitude'] = geo['geometry'].x

In [24]:
geo

,Unnamed: 0,geometry,address,latitude,longitude
0,0,POINT (144.68680 -37.87256),"Durham Crescent, Mossfiel, Hoppers Crossing, M...",-37.872563,144.686795
1,1,POINT (145.02944 -37.76190),"Mabel Street, Ivanhoe, Melbourne, City of Bany...",-37.761896,145.029437
2,2,POINT (145.03565 -37.76473),"Green Street, Ivanhoe, Melbourne, City of Bany...",-37.764732,145.035655
3,3,POINT (145.04509 -37.76768),"15, Ivanhoe Parade, Ivanhoe East, Melbourne, C...",-37.767678,145.045093
4,4,POINT (145.03736 -37.71406),"63, Dunne Street, Kingsbury, Melbourne, City o...",-37.714056,145.037364
...,...,...,...,...,...
4197,4309,POINT (144.60970 -37.89950),"Black Forest Road, Wyndham Vale, Melbourne, Ci...",-37.899498,144.609698
4198,4310,POINT (144.83035 -37.86883),"Pier Street, Altona Shopping Centre, Altona, M...",-37.868826,144.830352
4199,4311,POINT (144.76262 -37.87024),"Ailsa Street South, Altona Meadows, Melbourne,...",-37.870238,144.762616
4200,4312,POINT (145.32411 -38.02625),"Stringybark Court, Berwick, Melbourne, City of...",-38.026246,145.324107
4201,4313,POINT (145.00026 -37.89271),"Cochrane Street, Brighton, Melbourne, City of ...",-37.892714,145.000262

In [25]:
geo = geo.drop(['Unnamed: 0'], axis=1)

In [26]:
data = data.reset_index(drop=True)

In [27]:
address_full = pd.concat([data, geo[['latitude', 'longitude']]], axis=1)
address_full

,Address,Suburb,Prices,Estimated resident population (no.),Population density (persons/km2),Median age - persons (years),Working age population (aged 15-64 years) (no.),Employed (no.),Unemployed (no.),Renter (no.),...,Townhouses - total (no.),Apartments - total (no.),Median weekly household rental payment ($),Rented (no.),Count of homeless persons (no.),"Used at least one form of public transport (train, tram, bus, ferry) (no.)",Median equivalised total household income (weekly) ($),Extracted_Address,latitude,longitude
0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",HOPPERS CROSSING,450.0,37666.0,4420.4,74.1,25272.0,0.0,0.0,193.0,...,1105.0,1123.0,681.0,3309.0,228.0,884.0,1866.0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",-37.872563,144.686795
1,"7/1 Mabel Street, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,27.0,...,1189.0,1529.0,440.0,1505.0,16.0,343.0,1510.0,"1 Mabel Street, \nIVANHOE VIC 3079",-37.761896,145.029437
2,"2/59 Green Street, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,27.0,...,1189.0,1529.0,440.0,1505.0,16.0,343.0,1510.0,"59 Green Street, \nIVANHOE VIC 3079",-37.764732,145.035655
3,"104/15 Ivanhoe Parade, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,27.0,...,1189.0,1529.0,440.0,1505.0,16.0,343.0,1510.0,"15 Ivanhoe Parade, \nIVANHOE VIC 3079",-37.767678,145.045093
4,"63 Dunne Street, \nKINGSBURY VIC 3083",KINGSBURY,450.0,10564.0,1172.6,34.0,7808.0,0.0,0.0,53.0,...,831.0,1250.0,369.0,1285.0,120.0,382.0,1055.0,"63 Dunne Street, \nKINGSBURY VIC 3083",-37.714056,145.037364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4197,"156 Black Forest Road, \nWYNDHAM VALE VIC 3024",WYNDHAM VALE,465.0,22858.0,2941.3,63.4,15428.0,0.0,0.0,244.0,...,345.0,20.0,686.0,2192.0,101.0,651.0,2036.0,"156 Black Forest Road, \nWYNDHAM VALE VIC 3024",-37.899498,144.609698
4198,"104/118 Pier Street, \nALTONA VIC 3018",ALTONA,470.0,28738.0,1704.2,78.8,18016.0,0.0,0.0,102.0,...,3695.0,818.0,790.0,3440.0,108.0,600.0,2288.0,"118 Pier Street, \nALTONA VIC 3018",-37.868826,144.830352
4199,"2/35 Ailsa Street, \nALTONA MEADOWS VIC 3028",ALTONA MEADOWS,470.0,18665.0,1770.6,40.9,12311.0,0.0,0.0,67.0,...,769.0,436.0,341.0,1895.0,52.0,380.0,992.0,"35 Ailsa Street, \nALTONA MEADOWS VIC 3028",-37.870238,144.762616
4200,"6 Stringybark Court, \nBERWICK VIC 3806",BERWICK,470.0,23187.0,1174.1,43.3,14432.0,0.0,0.0,36.0,...,1728.0,20.0,380.0,1533.0,140.0,241.0,1117.0,"6 Stringybark Court, \nBERWICK VIC 3806",-38.026246,145.324107
4201,"8/18 Cochrane Street, \nBRIGHTON VIC 3186",BRIGHTON,470.0,39748.0,5788.0,92.0,23818.0,0.0,0.0,32.0,...,3920.0,2609.0,1202.0,3251.0,28.0,665.0,3406.0,"18 Cochrane Street, \nBRIGHTON VIC 3186",-37.892714,145.000262

In [28]:
# Define the absolute path for saving the file
file_path = '../data/curated/geometry_property.csv'

# Save the DataFrame to the specified absolute path
address_full.to_csv(file_path, index=False)