In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('../data/curated/Property_external.csv')

In [13]:
# Import necessary modules
import geopandas as gpd
from shapely.geometry import Point

# Import the geocoding tool
from geopandas.tools import geocode

# Geocode addresses using Nominatim. Remember to provide a custom "application name" in the user_agent parameter!
geo = geocode(data['Address'], provider='nominatim', user_agent='autogis_xx', timeout = 10)

In [14]:
geo.to_csv('../data/landing/geometry.csv')

In [4]:
geo = pd.read_csv('../data/landing/geometry.csv')

In [5]:
import geopandas as gpd
from shapely.wkt import loads

# Check if 'geometry' column is a GeoSeries
if not isinstance(geo['geometry'], gpd.GeoSeries):
    # Convert 'geometry' column to a GeoSeries
    geo['geometry'] = geo['geometry'].apply(lambda x: loads(x))
    geo = gpd.GeoDataFrame(geo, geometry='geometry')
    
    print("The 'geometry' column has been converted to a GeoSeries")

# Now, you should have the 'geometry' column as a GeoSeries

The 'geometry' column has been converted to a GeoSeries

In [6]:
# Extract latitude and longitude from the 'geometry' column
geo['latitude'] = geo['geometry'].y
geo['longitude'] = geo['geometry'].x

In [11]:
geo

      Unnamed: 0     geometry address  latitude  longitude
1855        1855  POINT EMPTY     NaN       NaN        NaN

In [10]:
address_full = pd.concat([data, geo[['latitude', 'longitude']]], axis=1)
address_full

,Unnamed: 0,Address,Suburb,Prices,Estimated resident population (no.),Population density (persons/km2),Median age - persons (years),Working age population (aged 15-64 years) (no.),Employed (no.),Unemployed (no.),...,Value of residential building ($m),Houses - total (no.),Townhouses - total (no.),Apartments - total (no.),Median weekly household rental payment ($),Rented (no.),Count of homeless persons (no.),"Used at least one form of public transport (train, tram, bus, ferry) (no.)",latitude,longitude
1855,1855,"207B/58 Myrtle St, \nIVANHOE VIC 3079",IVANHOE,550.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,...,35.0,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,NaN,NaN

In [9]:
# Define the absolute path for saving the file
file_path = '../data/curated/geometry_property.csv'

# Save the DataFrame to the specified absolute path
address_full.to_csv(file_path, index=False)