In [2]:
import pandas as pd

In [30]:
data = pd.read_csv('../data/curated/Property_external.csv')
data['Latitude'] = 0
data['Longitude'] = 0

In [13]:
# Import necessary modules
import geopandas as gpd
from shapely.geometry import Point

# Import the geocoding tool
from geopandas.tools import geocode

# Geocode addresses using Nominatim. Remember to provide a custom "application name" in the user_agent parameter!
geo = geocode(data['Address'], provider='nominatim', user_agent='autogis_xx', timeout = 10)

In [14]:
geo.to_csv('../data/landing/geometry.csv')

In [64]:
geo = pd.read_csv('../data/landing/geometry.csv')

In [65]:
import geopandas as gpd
from shapely.wkt import loads

# Check if 'geometry' column is a GeoSeries
if not isinstance(geo['geometry'], gpd.GeoSeries):
    # Convert 'geometry' column to a GeoSeries
    geo['geometry'] = geo['geometry'].apply(lambda x: loads(x))
    geo = gpd.GeoDataFrame(geo, geometry='geometry')
    
    print("The 'geometry' column has been converted to a GeoSeries")

# Now, you should have the 'geometry' column as a GeoSeries

The 'geometry' column has been converted to a GeoSeries

In [66]:
# Extract latitude and longitude from the 'geometry' column
geo['latitude'] = geo['geometry'].y
geo['longitude'] = geo['geometry'].x

In [67]:
geo

,Unnamed: 0,geometry,address,latitude,longitude
0,0,POINT (144.68680 -37.87256),"Durham Crescent, Mossfiel, Hoppers Crossing, M...",-37.872563,144.686795
1,1,POINT (145.02944 -37.76190),"Mabel Street, Ivanhoe, Melbourne, City of Bany...",-37.761896,145.029437
2,2,POINT (145.03565 -37.76473),"Green Street, Ivanhoe, Melbourne, City of Bany...",-37.764732,145.035655
3,3,POINT (145.04451 -37.76546),"Ivanhoe Parade, Ivanhoe, Melbourne, City of Ba...",-37.765456,145.044514
4,4,POINT (145.03736 -37.71406),"63, Dunne Street, Kingsbury, Melbourne, City o...",-37.714056,145.037364
...,...,...,...,...,...
4366,4366,POINT (144.60970 -37.89950),"Black Forest Road, Wyndham Vale, Melbourne, Ci...",-37.899498,144.609698
4367,4367,POINT (144.83035 -37.86883),"Pier Street, Altona Shopping Centre, Altona, M...",-37.868826,144.830352
4368,4368,POINT (144.76262 -37.87024),"Ailsa Street South, Altona Meadows, Melbourne,...",-37.870238,144.762616
4369,4369,POINT (145.32411 -38.02625),"Stringybark Court, Berwick, Melbourne, City of...",-38.026246,145.324107
4370,4370,POINT (145.00026 -37.89271),"Cochrane Street, Brighton, Melbourne, City of ...",-37.892714,145.000262

In [69]:
address_full = pd.concat([data, geo[['latitude', 'longitude']]], axis=1)
address_full

,Unnamed: 0,Address,Suburb,Prices,Estimated resident population (no.),Population density (persons/km2),Median age - persons (years),Working age population (aged 15-64 years) (no.),Employed (no.),Unemployed (no.),...,Townhouses - total (no.),Apartments - total (no.),Median weekly household rental payment ($),Rented (no.),Count of homeless persons (no.),"Used at least one form of public transport (train, tram, bus, ferry) (no.)",Latitude,Longitude,latitude,longitude
0,0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",HOPPERS CROSSING,450.0,37666.0,4420.4,74.1,25272.0,0.0,0.0,...,1105.0,1123.0,681.0,3309.0,228.0,884.0,0,0,-37.872563,144.686795
1,1,"7/1 Mabel Street, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,...,1189.0,1529.0,440.0,1505.0,16.0,343.0,0,0,-37.761896,145.029437
2,2,"2/59 Green Street, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,...,1189.0,1529.0,440.0,1505.0,16.0,343.0,0,0,-37.764732,145.035655
3,3,"104/15 Ivanhoe Parade, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,...,1189.0,1529.0,440.0,1505.0,16.0,343.0,0,0,-37.765456,145.044514
4,4,"63 Dunne Street, \nKINGSBURY VIC 3083",KINGSBURY,450.0,10564.0,1172.6,34.0,7808.0,0.0,0.0,...,831.0,1250.0,369.0,1285.0,120.0,382.0,0,0,-37.714056,145.037364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4366,4366,"156 Black Forest Road, \nWYNDHAM VALE VIC 3024",WYNDHAM VALE,465.0,22858.0,2941.3,63.4,15428.0,0.0,0.0,...,345.0,20.0,686.0,2192.0,101.0,651.0,0,0,-37.899498,144.609698
4367,4367,"104/118 Pier Street, \nALTONA VIC 3018",ALTONA,470.0,28738.0,1704.2,78.8,18016.0,0.0,0.0,...,3695.0,818.0,790.0,3440.0,108.0,600.0,0,0,-37.868826,144.830352
4368,4368,"2/35 Ailsa Street, \nALTONA MEADOWS VIC 3028",ALTONA MEADOWS,470.0,18665.0,1770.6,40.9,12311.0,0.0,0.0,...,769.0,436.0,341.0,1895.0,52.0,380.0,0,0,-37.870238,144.762616
4369,4369,"6 Stringybark Court, \nBERWICK VIC 3806",BERWICK,470.0,23187.0,1174.1,43.3,14432.0,0.0,0.0,...,1728.0,20.0,380.0,1533.0,140.0,241.0,0,0,-38.026246,145.324107
4370,4370,"8/18 Cochrane Street, \nBRIGHTON VIC 3186",BRIGHTON,470.0,39748.0,5788.0,92.0,23818.0,0.0,0.0,...,3920.0,2609.0,1202.0,3251.0,28.0,665.0,0,0,-37.892714,145.000262

In [70]:
# Define the absolute path for saving the file
file_path = '../data/curated/geometry_property.csv'

# Save the DataFrame to the specified absolute path
address_full.to_csv(file_path, index=False)