In [17]:
import pandas as pd
import os

In [18]:
prop  = pd.read_csv('../data/curated/clean_data.csv')

In [19]:
#Drop the data that has the price less than $10
prop.drop(prop[prop['Prices'] < 10].index, inplace = True)
prop = prop.reset_index(drop=True)
prop

,Address,Prices,Bedroom,Bathroom,Parking,Type_Apartment,Type_House,Type_Townhouse
0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",450.0,3,2,2,0,1,0
1,"7/1 Mabel Street, \nIVANHOE VIC 3079",450.0,2,1,1,0,0,1
2,"2/59 Green Street, \nIVANHOE VIC 3079",450.0,2,1,1,1,0,0
3,"104/15 Ivanhoe Parade, \nIVANHOE VIC 3079",450.0,1,1,1,1,0,0
4,"4/64 Lorraine Crescent, \nJACANA VIC 3047",450.0,2,1,1,0,0,1
...,...,...,...,...,...,...,...,...
8445,"30 Scott Street, \nBELMONT VIC 3216",470.0,3,1,2,0,1,0
8446,"6 Stringybark Court, \nBERWICK VIC 3806",470.0,3,2,,0,1,0
8447,"104 Canterbury Jetty Road, \nBLAIRGOWRIE VIC 3942",470.0,3,1,2,0,1,0
8448,"14 Northerly Drive, \nBONNIE BROOK VIC 3335",470.0,4,2,2,0,1,0
8449,"8/18 Cochrane Street, \nBRIGHTON VIC 3186",470.0,2,1,1,1,0,0

Create a Suburb column in the property dataframe, using the word after \n in the Address column

In [20]:
prop['Suburb'] = ""

for i in range(len(prop['Suburb'])):
     prop['Suburb'][i] = prop['Address'][i].split('\n', 1)[-1].split(' VIC')[0]


###############################################


addresses = prop['Address']
suburbs_prop = []
for address in addresses:
     suburb = address.split('\n', 1)[-1].split(' VIC')[0]
     if suburb in suburbs_prop:
          continue
     else:
          suburbs_prop.append(suburb)

/var/folders/mc/_4clq8l155jdkpr2knhw_mw00000gn/T/ipykernel_4885/1707504326.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prop['Suburb'][i] = prop['Address'][i].split('\n', 1)[-1].split(' VIC')[0]

In [21]:
#Find the SA2 area name for each row in the ABS data set

abs = pd.read_csv('../data/curated/2021ABS_csv')
for i in range(len(abs['SA2 Area Name'])):
    abs['SA2 Area Name'][i] = abs['SA2 Area Name'][i].split('summary_ ', 1)[-1].split(' SA2', 1)[0].upper()
    
    if '-' in abs['SA2 Area Name'][i]:

        abs['SA2 Area Name'][i] = abs['SA2 Area Name'][i].replace(' -', '')


abs_sa2 =[]
for i in range(len(abs['SA2 Area Name'])):
    abs_sa2.append(abs['SA2 Area Name'][i].upper())

/var/folders/mc/_4clq8l155jdkpr2knhw_mw00000gn/T/ipykernel_4885/2508610607.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  abs['SA2 Area Name'][i] = abs['SA2 Area Name'][i].split('summary_ ', 1)[-1].split(' SA2', 1)[0].upper()
/var/folders/mc/_4clq8l155jdkpr2knhw_mw00000gn/T/ipykernel_4885/2508610607.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  abs['SA2 Area Name'][i] = abs['SA2 Area Name'][i].replace(' -', '')

In [22]:
external_features = [
    'Estimated resident population (no.)',
    'Population density (persons/km2)',
    'Median age - persons (years)',
    'Working age population (aged 15-64 years) (no.)',
    'Employed (no.)', 'Unemployed (no.)', 'Renter (no.)',
    'Health care and social assistance (no.)','Financial and insurance services (no.)',
    'Administrative and support services (no.)','Education and training (no.)',
    'Accommodation and food services (no.)','Public administration and safety (no.)',
    'Value of residential building ($m)', 'Houses - total (no.)', 
    'Townhouses - total (no.)', 'Apartments - total (no.)',
    'Median weekly household rental payment ($)', 'Rented (no.)',
    'Count of homeless persons (no.)','Used at least one form of public transport (train, tram, bus, ferry) (no.)', 
    'Median equivalised total household income (weekly) ($)'
]

#Join the two data sets by name, so iof they have the same suburb give that property the corresponding data
external  = prop[['Address', 'Suburb', 'Prices', 'Bedroom']]
for feature in external_features:
    external[feature] = ''

for i in range(len(external['Suburb'])):
    if external['Suburb'][i] in abs_sa2:
        row_number = abs.index.get_loc(abs[abs['SA2 Area Name'] == external['Suburb'][i]].index[0])
        for j in external_features:
            external[j][i] = abs[j][row_number]

/var/folders/mc/_4clq8l155jdkpr2knhw_mw00000gn/T/ipykernel_4885/3790017955.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  external[feature] = ''
/var/folders/mc/_4clq8l155jdkpr2knhw_mw00000gn/T/ipykernel_4885/3790017955.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  external[feature] = ''
/var/folders/mc/_4clq8l155jdkpr2knhw_mw00000gn/T/ipykernel_4885/3790017955.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  external[feature] = ''
/var/folders/mc/_4clq8l155jdkpr2knhw_mw00000gn/T/ipykernel_4885/3790017955.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  external[feature] = ''
/var/folders/mc/_4clq8l155jdkpr2knhw_mw00000gn/T/ipykernel_4885/3790017955.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  external[j][i] = abs[j][row_number]

In [23]:
#area codes to drop so we can get more rows filled
drop_words = ['NORTH', 'SOUTH', 'EAST', 'WEST', '(VIC.)']

#This will make Keilor East and Keilor West both just Keilor
for i in range(len(abs['SA2 Area Name'])):
    for word in drop_words:
        if word in abs['SA2 Area Name'][i]:
            word = ' '+word
            abs['SA2 Area Name'][i] = abs['SA2 Area Name'][i].replace(word, '')

/var/folders/mc/_4clq8l155jdkpr2knhw_mw00000gn/T/ipykernel_4885/2061638818.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  abs['SA2 Area Name'][i] = abs['SA2 Area Name'][i].replace(word, '')

In [24]:
#If the name of the suburb is the same add the rows together
sum_dict = {}
for column in external_features:
    sum_dict[column] = 'sum'

abs_grouped = abs.groupby('SA2 Area Name').agg(sum_dict).reset_index()

In [25]:
#Now apply the added rows to the data
abs_sa2_grouped =[]
for i in range(len(abs_grouped['SA2 Area Name'])):
    abs_sa2_grouped.append(abs_grouped['SA2 Area Name'][i].upper())

for i in range(len(external['Suburb'])):
    if external['Suburb'][i] in abs_sa2_grouped:
        row_number = abs_grouped.index.get_loc(abs_grouped[abs_grouped['SA2 Area Name'] == external['Suburb'][i]].index[0])
        for j in external_features:
            external[j][i] = abs_grouped[j][row_number]

/var/folders/mc/_4clq8l155jdkpr2knhw_mw00000gn/T/ipykernel_4885/10110642.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  external[j][i] = abs_grouped[j][row_number]

In [26]:
external.drop(external[external['Estimated resident population (no.)'] == ''].index, inplace = True)
external = external.reset_index(drop=True)

In [27]:
external_na = external.dropna(axis = 0)
external_na = external_na.reset_index(drop=True)

In [28]:

external_na.to_csv('../data/curated/Property_external.csv', index_label=False)

In [29]:
external_na

,Address,Suburb,Prices,Bedroom,Estimated resident population (no.),Population density (persons/km2),Median age - persons (years),Working age population (aged 15-64 years) (no.),Employed (no.),Unemployed (no.),...,Public administration and safety (no.),Value of residential building ($m),Houses - total (no.),Townhouses - total (no.),Apartments - total (no.),Median weekly household rental payment ($),Rented (no.),Count of homeless persons (no.),"Used at least one form of public transport (train, tram, bus, ferry) (no.)",Median equivalised total household income (weekly) ($)
0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",HOPPERS CROSSING,450.0,3,37666.0,4420.4,74.1,25272.0,0.0,0.0,...,17.0,18.0,11732.0,1105.0,1123.0,681.0,3309.0,228.0,884.0,1866.0
1,"7/1 Mabel Street, \nIVANHOE VIC 3079",IVANHOE,450.0,2,12561.0,2487.4,40.9,8357.0,0.0,0.0,...,3.0,35.0,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,1510.0
2,"2/59 Green Street, \nIVANHOE VIC 3079",IVANHOE,450.0,2,12561.0,2487.4,40.9,8357.0,0.0,0.0,...,3.0,35.0,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,1510.0
3,"104/15 Ivanhoe Parade, \nIVANHOE VIC 3079",IVANHOE,450.0,1,12561.0,2487.4,40.9,8357.0,0.0,0.0,...,3.0,35.0,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,1510.0
4,"63 Dunne Street, \nKINGSBURY VIC 3083",KINGSBURY,450.0,3,10564.0,1172.6,34.0,7808.0,0.0,0.0,...,3.0,8.0,2381.0,831.0,1250.0,369.0,1285.0,120.0,382.0,1055.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4309,"156 Black Forest Road, \nWYNDHAM VALE VIC 3024",WYNDHAM VALE,465.0,3,22858.0,2941.3,63.4,15428.0,0.0,0.0,...,3.0,219.0,7493.0,345.0,20.0,686.0,2192.0,101.0,651.0,2036.0
4310,"104/118 Pier Street, \nALTONA VIC 3018",ALTONA,470.0,2,28738.0,1704.2,78.8,18016.0,0.0,0.0,...,9.0,196.0,8125.0,3695.0,818.0,790.0,3440.0,108.0,600.0,2288.0
4311,"2/35 Ailsa Street, \nALTONA MEADOWS VIC 3028",ALTONA MEADOWS,470.0,3,18665.0,1770.6,40.9,12311.0,0.0,0.0,...,13.0,11.0,6570.0,769.0,436.0,341.0,1895.0,52.0,380.0,992.0
4312,"6 Stringybark Court, \nBERWICK VIC 3806",BERWICK,470.0,3,23187.0,1174.1,43.3,14432.0,0.0,0.0,...,5.0,33.0,7430.0,1728.0,20.0,380.0,1533.0,140.0,241.0,1117.0
4313,"8/18 Cochrane Street, \nBRIGHTON VIC 3186",BRIGHTON,470.0,2,39748.0,5788.0,92.0,23818.0,0.0,0.0,...,6.0,360.0,10160.0,3920.0,2609.0,1202.0,3251.0,28.0,665.0,3406.0