In [113]:
import pandas as pd

In [114]:
data = pd.read_csv('../data/curated/geometry_property.csv')

In [115]:
data

,Address,Suburb,Prices,Estimated resident population (no.),Population density (persons/km2),Median age - persons (years),Working age population (aged 15-64 years) (no.),Employed (no.),Unemployed (no.),Renter (no.),...,Townhouses - total (no.),Apartments - total (no.),Median weekly household rental payment ($),Rented (no.),Count of homeless persons (no.),"Used at least one form of public transport (train, tram, bus, ferry) (no.)",Median equivalised total household income (weekly) ($),Extracted_Address,latitude,longitude
0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",HOPPERS CROSSING,450.0,37666.0,4420.4,74.1,25272.0,0.0,0.0,193.0,...,1105.0,1123.0,681.0,3309.0,228.0,884.0,1866.0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",-37.872563,144.686795
1,"7/1 Mabel Street, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,27.0,...,1189.0,1529.0,440.0,1505.0,16.0,343.0,1510.0,"1 Mabel Street, \nIVANHOE VIC 3079",-37.761896,145.029437
2,"2/59 Green Street, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,27.0,...,1189.0,1529.0,440.0,1505.0,16.0,343.0,1510.0,"59 Green Street, \nIVANHOE VIC 3079",-37.764732,145.035655
3,"104/15 Ivanhoe Parade, \nIVANHOE VIC 3079",IVANHOE,450.0,12561.0,2487.4,40.9,8357.0,0.0,0.0,27.0,...,1189.0,1529.0,440.0,1505.0,16.0,343.0,1510.0,"15 Ivanhoe Parade, \nIVANHOE VIC 3079",-37.767678,145.045093
4,"63 Dunne Street, \nKINGSBURY VIC 3083",KINGSBURY,450.0,10564.0,1172.6,34.0,7808.0,0.0,0.0,53.0,...,831.0,1250.0,369.0,1285.0,120.0,382.0,1055.0,"63 Dunne Street, \nKINGSBURY VIC 3083",-37.714056,145.037364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4197,"156 Black Forest Road, \nWYNDHAM VALE VIC 3024",WYNDHAM VALE,465.0,22858.0,2941.3,63.4,15428.0,0.0,0.0,244.0,...,345.0,20.0,686.0,2192.0,101.0,651.0,2036.0,"156 Black Forest Road, \nWYNDHAM VALE VIC 3024",-37.899498,144.609698
4198,"104/118 Pier Street, \nALTONA VIC 3018",ALTONA,470.0,28738.0,1704.2,78.8,18016.0,0.0,0.0,102.0,...,3695.0,818.0,790.0,3440.0,108.0,600.0,2288.0,"118 Pier Street, \nALTONA VIC 3018",-37.868826,144.830352
4199,"2/35 Ailsa Street, \nALTONA MEADOWS VIC 3028",ALTONA MEADOWS,470.0,18665.0,1770.6,40.9,12311.0,0.0,0.0,67.0,...,769.0,436.0,341.0,1895.0,52.0,380.0,992.0,"35 Ailsa Street, \nALTONA MEADOWS VIC 3028",-37.870238,144.762616
4200,"6 Stringybark Court, \nBERWICK VIC 3806",BERWICK,470.0,23187.0,1174.1,43.3,14432.0,0.0,0.0,36.0,...,1728.0,20.0,380.0,1533.0,140.0,241.0,1117.0,"6 Stringybark Court, \nBERWICK VIC 3806",-38.026246,145.324107
4201,"8/18 Cochrane Street, \nBRIGHTON VIC 3186",BRIGHTON,470.0,39748.0,5788.0,92.0,23818.0,0.0,0.0,32.0,...,3920.0,2609.0,1202.0,3251.0,28.0,665.0,3406.0,"18 Cochrane Street, \nBRIGHTON VIC 3186",-37.892714,145.000262

In [116]:
crime_df = pd.read_csv('../data/raw/crime_count.csv', sep=';')
offence_df = pd.read_csv('../data/raw/recorded_offence.csv', sep=';')

In [117]:
crime_df

,Year,Year ending,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded,Unnamed: 9
0,2023,June,Alpine,3691,Dederang,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,1.0,NaN
1,2023,June,Alpine,3691,Dederang,A Crimes against the person,Other crimes against the person,Other crimes against the person,1.0,NaN
2,2023,June,Alpine,3691,Dederang,B Property and deception offences,B40 Theft,B42 Steal from a motor vehicle,2.0,NaN
3,2023,June,Alpine,3691,Dederang,D Public order and security offences,D10 Weapons and explosives offences,D11 Firearms offences,1.0,NaN
4,2023,June,Alpine,3691,Glen Creek,B Property and deception offences,B50 Deception,B53 Obtain benefit by deception,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...
331736,2014,June,Yarriambiack,3489,Tempy,B Property and deception offences,B30 Burglary/Break and enter,B322 Non-residential non-aggravated burglary,1.0,NaN
331737,2014,June,Yarriambiack,3489,Tempy,E Justice procedures offences,E10 Justice procedures,E13 Resist or hinder officer,1.0,NaN
331738,2014,June,Yarriambiack,3489,Tempy,E Justice procedures offences,E20 Breaches of orders,E21 Breach family violence order,1.0,NaN
331739,2014,June,Yarriambiack,3489,Tempy,E Justice procedures offences,E20 Breaches of orders,E22 Breach intervention order,1.0,NaN
331740,2014,June,Yarriambiack,3491,Patchewollock,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,1.0,NaN

In [118]:
offence_df

,Year,Year ending,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Offence Count
0,2023,June,Alpine,3691,Dederang,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,1.0
1,2023,June,Alpine,3691,Dederang,A Crimes against the person,Other crimes against the person,Other crimes against the person,1.0
2,2023,June,Alpine,3691,Dederang,B Property and deception offences,B40 Theft,B42 Steal from a motor vehicle,2.0
3,2023,June,Alpine,3691,Dederang,D Public order and security offences,D10 Weapons and explosives offences,D11 Firearms offences,1.0
4,2023,June,Alpine,3691,Glen Creek,B Property and deception offences,B50 Deception,B53 Obtain benefit by deception,1.0
...,...,...,...,...,...,...,...,...,...
360123,2014,June,Yarriambiack,3489,Tempy,B Property and deception offences,B30 Burglary/Break and enter,B322 Non-residential non-aggravated burglary,1.0
360124,2014,June,Yarriambiack,3489,Tempy,E Justice procedures offences,E10 Justice procedures,E13 Resist or hinder officer,1.0
360125,2014,June,Yarriambiack,3489,Tempy,E Justice procedures offences,E20 Breaches of orders,E21 Breach family violence order,1.0
360126,2014,June,Yarriambiack,3489,Tempy,E Justice procedures offences,E20 Breaches of orders,E22 Breach intervention order,1.0
360127,2014,June,Yarriambiack,3491,Patchewollock,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,1.0

In [119]:
crime_filter = (crime_df['Year'] >= 2022) & (crime_df['Year'] <= 2023)
offence_filter = (offence_df['Year'] >= 2022) & (offence_df['Year'] <= 2023)
# Apply the mask to filter the DataFrame
filtered_crime = crime_df[crime_filter].reset_index()
filtered_offence = offence_df[offence_filter].reset_index()

In [120]:
filtered_crime

,index,Year,Year ending,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded,Unnamed: 9
0,0,2023,June,Alpine,3691,Dederang,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,1.0,NaN
1,1,2023,June,Alpine,3691,Dederang,A Crimes against the person,Other crimes against the person,Other crimes against the person,1.0,NaN
2,2,2023,June,Alpine,3691,Dederang,B Property and deception offences,B40 Theft,B42 Steal from a motor vehicle,2.0,NaN
3,3,2023,June,Alpine,3691,Dederang,D Public order and security offences,D10 Weapons and explosives offences,D11 Firearms offences,1.0,NaN
4,4,2023,June,Alpine,3691,Glen Creek,B Property and deception offences,B50 Deception,B53 Obtain benefit by deception,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
66817,66817,2022,June,Yarriambiack,3491,Patchewollock,A Crimes against the person,A80 Dangerous and negligent acts endangering p...,A83 Throw or discharge object endangering people,1.0,NaN
66818,66818,2022,June,Yarriambiack,3491,Patchewollock,B Property and deception offences,B30 Burglary/Break and enter,B321 Residential non-aggravated burglary,2.0,NaN
66819,66819,2022,June,Yarriambiack,3491,Patchewollock,B Property and deception offences,B40 Theft,B49 Other theft,1.0,NaN
66820,66820,2022,June,Yarriambiack,3491,Patchewollock,C Drug offences,C10 Drug dealing and trafficking,C12 Drug trafficking,1.0,NaN
66821,66821,2022,June,Yarriambiack,3491,Patchewollock,D Public order and security offences,D10 Weapons and explosives offences,D11 Firearms offences,1.0,NaN

In [121]:
filtered_offence

,index,Year,Year ending,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Offence Count
0,0,2023,June,Alpine,3691,Dederang,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,1.0
1,1,2023,June,Alpine,3691,Dederang,A Crimes against the person,Other crimes against the person,Other crimes against the person,1.0
2,2,2023,June,Alpine,3691,Dederang,B Property and deception offences,B40 Theft,B42 Steal from a motor vehicle,2.0
3,3,2023,June,Alpine,3691,Dederang,D Public order and security offences,D10 Weapons and explosives offences,D11 Firearms offences,1.0
4,4,2023,June,Alpine,3691,Glen Creek,B Property and deception offences,B50 Deception,B53 Obtain benefit by deception,1.0
...,...,...,...,...,...,...,...,...,...,...
72772,72772,2022,June,Yarriambiack,3491,Patchewollock,B Property and deception offences,B20 Property damage,B21 Criminal damage,1.0
72773,72773,2022,June,Yarriambiack,3491,Patchewollock,B Property and deception offences,B30 Burglary/Break and enter,B321 Residential non-aggravated burglary,2.0
72774,72774,2022,June,Yarriambiack,3491,Patchewollock,B Property and deception offences,B40 Theft,B49 Other theft,1.0
72775,72775,2022,June,Yarriambiack,3491,Patchewollock,C Drug offences,C10 Drug dealing and trafficking,C12 Drug trafficking,1.0
72776,72776,2022,June,Yarriambiack,3491,Patchewollock,D Public order and security offences,D10 Weapons and explosives offences,D11 Firearms offences,1.0

In [122]:
filtered_crime = filtered_crime.groupby(['Suburb/Town Name'])['Incidents Recorded'].sum().reset_index()
filtered_offence = filtered_offence.groupby(['Suburb/Town Name'])['Offence Count'].sum().reset_index()

In [123]:
filtered_crime.rename(columns={'Suburb/Town Name': 'Suburb'}, inplace=True)
filtered_offence.rename(columns={'Suburb/Town Name': 'Suburb'}, inplace=True)

In [124]:
filtered_crime['Suburb'] = filtered_crime['Suburb'].str.upper()
filtered_offence['Suburb'] = filtered_offence['Suburb'].str.upper()

In [125]:
merge_crime = pd.merge(data, filtered_crime, on='Suburb', how='inner')
merge_df = pd.merge(merge_crime, filtered_offence, on='Suburb', how='inner')

In [126]:
merge_df['total_crime'] = merge_df['Incidents Recorded'] + merge_df['Offence Count']

In [173]:
# Rent Affordability Index
merge_df['qualifying_income'] = merge_df['Prices'] / 0.3

In [174]:
merge_df.columns

Index(['Address', 'Suburb', 'Prices', 'Estimated resident population (no.)',
       'Population density (persons/km2)', 'Median age - persons (years)',
       'Working age population (aged 15-64 years) (no.)', 'Employed (no.)',
       'Unemployed (no.)', 'Renter (no.)',
       'Health care and social assistance (no.)',
       'Financial and insurance services (no.)',
       'Administrative and support services (no.)',
       'Education and training (no.)', 'Accommodation and food services (no.)',
       'Public administration and safety (no.)',
       'Value of residential building ($m)', 'Houses - total (no.)',
       'Townhouses - total (no.)', 'Apartments - total (no.)',
       'Median weekly household rental payment ($)', 'Rented (no.)',
       'Count of homeless persons (no.)',
       'Used at least one form of public transport (train, tram, bus, ferry) (no.)',
       'Median equivalised total household income (weekly) ($)',
       'Extracted_Address', 'latitude', 'longitude', 'Incidents Recorded',
       'Offence Count', 'total_crime', 'qualifying_income', 'RAI'],
      dtype='object')

In [175]:
merge_df2 = merge_df[['Suburb', 'Prices', 'Estimated resident population (no.)',
       'Population density (persons/km2)', 'Median age - persons (years)',
       'Working age population (aged 15-64 years) (no.)', 'Employed (no.)',
       'Unemployed (no.)', 'Renter (no.)',
       'Health care and social assistance (no.)',
       'Financial and insurance services (no.)',
       'Administrative and support services (no.)',
       'Education and training (no.)', 'Accommodation and food services (no.)',
       'Public administration and safety (no.)',
       'Value of residential building ($m)', 'Houses - total (no.)',
       'Townhouses - total (no.)', 'Apartments - total (no.)',
       'Median weekly household rental payment ($)', 'Rented (no.)',
       'Count of homeless persons (no.)',
       'Used at least one form of public transport (train, tram, bus, ferry) (no.)',
       'Median equivalised total household income (weekly) ($)', 'Incidents Recorded',
       'Offence Count', 'total_crime', 'qualifying_income']]

In [176]:
merge_df2 = merge_df2.groupby('Suburb').mean()

In [177]:
merge_df2['RAI'] = (merge_df2['Median equivalised total household income (weekly) ($)'] / merge_df2['qualifying_income']) * 100

In [183]:
# Create a new column 'affordability' with a default value of 6
merge_df2['affordability'] = 0

# Update 'affordability' based on the conditions
merge_df2.loc[merge_df2['RAI'] < 50, 'affordability'] = 6
merge_df2.loc[(merge_df2['RAI'] >= 50) & (merge_df2['RAI'] < 80), 'affordability'] = 5
merge_df2.loc[(merge_df2['RAI'] >= 80) & (merge_df2['RAI'] < 100), 'affordability'] = 4
merge_df2.loc[(merge_df2['RAI'] >= 100) & (merge_df2['RAI'] < 120), 'affordability'] = 3
merge_df2.loc[(merge_df2['RAI'] >= 120) & (merge_df2['RAI'] < 150), 'affordability'] = 2
merge_df2.loc[merge_df2['RAI'] >= 150, 'affordability'] = 1

In [186]:
merge_df2.sort_values(by='RAI', ascending=False).head(10)

,Prices,Estimated resident population (no.),Population density (persons/km2),Median age - persons (years),Working age population (aged 15-64 years) (no.),Employed (no.),Unemployed (no.),Renter (no.),Health care and social assistance (no.),Financial and insurance services (no.),...,Rented (no.),Count of homeless persons (no.),"Used at least one form of public transport (train, tram, bus, ferry) (no.)",Median equivalised total household income (weekly) ($),Incidents Recorded,Offence Count,total_crime,qualifying_income,RAI,affordability
Suburb,,,,,,,,,,,,,,,,,,,,,
CRANBOURNE,486.166667,122174.0,12938.6,225.6,80567.0,0.0,0.0,535.0,302.0,154.0,...,9314.0,602.0,2037.0,7201.0,4006.0,5626.0,9632.0,1620.555556,444.353788,1
BRUNSWICK,596.470588,53768.0,20807.5,136.6,42314.0,0.0,0.0,299.0,431.0,183.0,...,11861.0,278.0,3124.0,5812.0,4271.0,5270.0,9541.0,1988.235294,292.319527,1
POINT COOK,534.634146,62990.0,8965.2,136.6,41810.0,0.0,0.0,239.0,398.0,229.0,...,5811.0,96.0,1469.0,5143.0,3539.0,4884.0,8423.0,1782.113821,288.589872,1
NARRE WARREN,508.421053,52128.0,7667.0,147.8,35723.0,0.0,0.0,122.0,189.0,139.0,...,2387.0,253.0,677.0,4487.0,3635.0,4983.0,8618.0,1694.736842,264.760870,1
RESERVOIR,499.772727,52065.0,10943.5,154.1,35092.0,0.0,0.0,490.0,184.0,112.0,...,7466.0,416.0,1900.0,3905.0,6413.0,9256.0,15669.0,1665.909091,234.406548,1
CRAIGIEBURN,493.448276,57607.0,11196.5,125.9,38853.0,0.0,0.0,161.0,196.0,94.0,...,4657.0,129.0,1266.0,3852.0,4720.0,6660.0,11380.0,1644.827586,234.188679,1
SOUTH YARRA,663.727811,28123.0,21662.2,106.5,22280.0,0.0,0.0,76.0,497.0,622.0,...,8671.0,64.0,1947.0,5129.0,4308.0,5891.0,10199.0,2212.426036,231.826959,1
WERRIBEE,416.438356,58887.0,2806.9,105.5,39418.0,0.0,0.0,501.0,249.0,121.0,...,6808.0,220.0,1363.0,3085.0,7250.0,9852.0,17102.0,1388.127854,222.241776,1
SUNBURY,482.604167,40147.0,768.7,113.3,26471.0,0.0,0.0,178.0,150.0,85.0,...,2915.0,65.0,611.0,3385.0,3160.0,4470.0,7630.0,1608.680556,210.420894,1
TRUGANINA,495.948276,38668.0,6433.6,91.8,26146.0,0.0,0.0,58.0,153.0,77.0,...,3216.0,130.0,1032.0,3447.0,3032.0,3885.0,6917.0,1653.160920,208.509647,1

In [187]:
merge_df2

,Prices,Estimated resident population (no.),Population density (persons/km2),Median age - persons (years),Working age population (aged 15-64 years) (no.),Employed (no.),Unemployed (no.),Renter (no.),Health care and social assistance (no.),Financial and insurance services (no.),...,Rented (no.),Count of homeless persons (no.),"Used at least one form of public transport (train, tram, bus, ferry) (no.)",Median equivalised total household income (weekly) ($),Incidents Recorded,Offence Count,total_crime,qualifying_income,RAI,affordability
Suburb,,,,,,,,,,,,,,,,,,,,,
ABBOTSFORD,620.283019,9262.0,5321.5,33.7,7675.0,0.0,0.0,39.0,100.0,101.0,...,2436.0,114.0,617.0,1693.0,2116.0,2721.0,4837.0,2067.610063,81.881977,4
ALBERT PARK,725.769231,16023.0,3427.6,41.5,10934.0,0.0,0.0,25.0,346.0,558.0,...,3118.0,34.0,700.0,1727.0,785.0,911.0,1696.0,2419.230769,71.386328,5
ALTONA,460.555556,28738.0,1704.2,78.8,18016.0,0.0,0.0,102.0,140.0,99.0,...,3440.0,108.0,600.0,2288.0,1044.0,1549.0,2593.0,1535.185185,149.037394,2
ALTONA MEADOWS,451.818182,18665.0,1770.6,40.9,12311.0,0.0,0.0,67.0,45.0,33.0,...,1895.0,52.0,380.0,992.0,1323.0,1698.0,3021.0,1506.060606,65.867203,5
ARMADALE,672.084583,9436.0,4321.5,38.0,6445.0,0.0,0.0,12.0,208.0,134.0,...,1921.0,27.0,438.0,1696.0,849.0,1066.0,1915.0,2240.281944,75.704757,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WHITTLESEA,425.000000,10747.0,36.1,36.8,6821.0,0.0,0.0,54.0,32.0,21.0,...,558.0,21.0,136.0,1058.0,361.0,496.0,857.0,1416.666667,74.682353,5
WILLIAMSTOWN,583.125000,16074.0,2188.0,45.0,10333.0,0.0,0.0,38.0,156.0,107.0,...,1561.0,13.0,340.0,1508.0,1809.0,2167.0,3976.0,1943.750000,77.581994,5
WOLLERT,529.444444,24762.0,459.5,30.7,16395.0,0.0,0.0,71.0,58.0,29.0,...,1706.0,50.0,540.0,1045.0,1171.0,1609.0,2780.0,1764.814815,59.213012,5
WYNDHAM VALE,458.534483,22858.0,2941.3,63.4,15428.0,0.0,0.0,244.0,50.0,8.0,...,2192.0,101.0,651.0,2036.0,1685.0,2254.0,3939.0,1528.448276,133.206994,2
YARRAVILLE,649.821429,15653.0,2785.2,37.2,11006.0,0.0,0.0,56.0,98.0,72.0,...,1991.0,55.0,572.0,1627.0,1500.0,1875.0,3375.0,2166.071429,75.112943,5

In [199]:
merge_df2['amenities'] = (merge_df2['Accommodation and food services (no.)']) + (merge_df2['Financial and insurance services (no.)']) + (merge_df2['Administrative and support services (no.)']) + (merge_df2['Education and training (no.)']) + (merge_df2['Health care and social assistance (no.)']) + (merge_df2['Public administration and safety (no.)'])

In [198]:
merge_df2.columns

Index(['Prices', 'Estimated resident population (no.)',
       'Population density (persons/km2)', 'Median age - persons (years)',
       'Working age population (aged 15-64 years) (no.)', 'Employed (no.)',
       'Unemployed (no.)', 'Renter (no.)',
       'Health care and social assistance (no.)',
       'Financial and insurance services (no.)',
       'Administrative and support services (no.)',
       'Education and training (no.)', 'Accommodation and food services (no.)',
       'Public administration and safety (no.)',
       'Value of residential building ($m)', 'Houses - total (no.)',
       'Townhouses - total (no.)', 'Apartments - total (no.)',
       'Median weekly household rental payment ($)', 'Rented (no.)',
       'Count of homeless persons (no.)',
       'Used at least one form of public transport (train, tram, bus, ferry) (no.)',
       'Median equivalised total household income (weekly) ($)',
       'Incidents Recorded', 'Offence Count', 'total_crime',
       'qualifying_income', 'RAI', 'affordability', 'amenities'],
      dtype='object')