In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('../data/curated/geometry_property.csv')

In [4]:
data

,Address,Suburb,Prices,Type_Apartment,Type_House,Type_Townhouse,Estimated resident population (no.),Population density (persons/km2),Median age - persons (years),Working age population (aged 15-64 years) (no.),...,Houses - total (no.),Townhouses - total (no.),Apartments - total (no.),Median weekly household rental payment ($),Rented (no.),Count of homeless persons (no.),"Used at least one form of public transport (train, tram, bus, ferry) (no.)",Extracted_Address,latitude,longitude
0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",HOPPERS CROSSING,450.0,0,1,0,37666.0,4420.4,74.1,25272.0,...,11732.0,1105.0,1123.0,681.0,3309.0,228.0,884.0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",-37.872563,144.686795
1,"7/1 Mabel Street, \nIVANHOE VIC 3079",IVANHOE,450.0,0,0,1,12561.0,2487.4,40.9,8357.0,...,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,"1 Mabel Street, \nIVANHOE VIC 3079",-37.761896,145.029437
2,"2/59 Green Street, \nIVANHOE VIC 3079",IVANHOE,450.0,1,0,0,12561.0,2487.4,40.9,8357.0,...,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,"59 Green Street, \nIVANHOE VIC 3079",-37.764732,145.035655
3,"104/15 Ivanhoe Parade, \nIVANHOE VIC 3079",IVANHOE,450.0,1,0,0,12561.0,2487.4,40.9,8357.0,...,2911.0,1189.0,1529.0,440.0,1505.0,16.0,343.0,"15 Ivanhoe Parade, \nIVANHOE VIC 3079",-37.767678,145.045093
4,"63 Dunne Street, \nKINGSBURY VIC 3083",KINGSBURY,450.0,0,1,0,10564.0,1172.6,34.0,7808.0,...,2381.0,831.0,1250.0,369.0,1285.0,120.0,382.0,"63 Dunne Street, \nKINGSBURY VIC 3083",-37.714056,145.037364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4197,"156 Black Forest Road, \nWYNDHAM VALE VIC 3024",WYNDHAM VALE,465.0,0,1,0,22858.0,2941.3,63.4,15428.0,...,7493.0,345.0,20.0,686.0,2192.0,101.0,651.0,"156 Black Forest Road, \nWYNDHAM VALE VIC 3024",-37.899498,144.609698
4198,"104/118 Pier Street, \nALTONA VIC 3018",ALTONA,470.0,1,0,0,28738.0,1704.2,78.8,18016.0,...,8125.0,3695.0,818.0,790.0,3440.0,108.0,600.0,"118 Pier Street, \nALTONA VIC 3018",-37.868826,144.830352
4199,"2/35 Ailsa Street, \nALTONA MEADOWS VIC 3028",ALTONA MEADOWS,470.0,0,1,0,18665.0,1770.6,40.9,12311.0,...,6570.0,769.0,436.0,341.0,1895.0,52.0,380.0,"35 Ailsa Street, \nALTONA MEADOWS VIC 3028",-37.870238,144.762616
4200,"6 Stringybark Court, \nBERWICK VIC 3806",BERWICK,470.0,0,1,0,23187.0,1174.1,43.3,14432.0,...,7430.0,1728.0,20.0,380.0,1533.0,140.0,241.0,"6 Stringybark Court, \nBERWICK VIC 3806",-38.026246,145.324107
4201,"8/18 Cochrane Street, \nBRIGHTON VIC 3186",BRIGHTON,470.0,1,0,0,39748.0,5788.0,92.0,23818.0,...,10160.0,3920.0,2609.0,1202.0,3251.0,28.0,665.0,"18 Cochrane Street, \nBRIGHTON VIC 3186",-37.892714,145.000262

In [5]:
data['Suburb'].unique()

array(['HOPPERS CROSSING', 'IVANHOE', 'KINGSBURY', 'LALOR', 'LANGWARRIN',
       'MALVERN', 'FRANKSTON', 'FLINDERS', 'SOUTH YARRA', 'DANDENONG',
       'DOCKLANDS', 'DOREEN', 'ELTHAM', 'ESSENDON', 'FOOTSCRAY',
       'CLAYTON', 'ELWOOD', 'KENSINGTON', 'BURNSIDE', 'GLENROY',
       'LAVERTON', 'MELTON', 'NORTH MELBOURNE', 'NORTHCOTE',
       'PASCOE VALE', 'PRESTON', 'RESERVOIR', 'BUNDOORA', 'CARNEGIE',
       'ELSTERNWICK', 'FLEMINGTON', 'GREENSBOROUGH', 'HALLAM',
       'GLEN WAVERLEY', 'HILLSIDE', 'KEYSBOROUGH', 'CAULFIELD', 'DROMANA',
       'MULGRAVE', 'OAK PARK', 'BROADMEADOWS', 'BURNSIDE HEIGHTS',
       'CAROLINE SPRINGS', 'CLYDE', 'COLLINGWOOD', 'CARRUM DOWNS',
       'ARMADALE', 'FITZROY', 'SOUTHBANK', 'YARRAVILLE', 'PORT MELBOURNE',
       'RICHMOND', 'NEWPORT', 'ST KILDA', 'WHEELERS HILL',
       'EAST MELBOURNE', 'SEAFORD', 'SOUTH MELBOURNE', 'BRUNSWICK',
       'COBURG', 'DEER PARK', 'DIGGERS REST', 'DOVETON', 'TARNEIT',
       'BENTLEIGH', 'NOBLE PARK', 'ABBOTSFORD', 'ALBERT PARK', 'FAWKNER',
       'WERRIBEE', 'ALTONA MEADOWS', 'ASCOT VALE', 'EPPING',
       'MURRUMBEENA', 'TULLAMARINE', 'POINT COOK', 'BRIGHTON', 'BERWICK',
       'CRAIGIEBURN', 'MARIBYRNONG', 'HEIDELBERG', 'ST ALBANS',
       'THOMASTOWN', 'TOORAK', 'WYNDHAM VALE', 'THORNBURY',
       'WILLIAMSTOWN', 'MERNDA', 'HUGHESDALE', 'HADFIELD', 'HAMPTON',
       'SPRINGVALE', 'SUNBURY', 'SUNSHINE', 'CAIRNLEA', 'CRANBOURNE',
       'MORNINGTON', 'MOUNT WAVERLEY', 'MOONEE PONDS', 'NARRE WARREN',
       'DELAHEY', 'MILL PARK', 'ALTONA', 'SOUTH MORANG', 'TAYLORS HILL',
       'TRUGANINA', 'PARKVILLE', 'BRAYBROOK', 'MEADOW HEIGHTS',
       'SEABROOK', 'SYDENHAM', 'BEAUMARIS', 'ENDEAVOUR HILLS',
       'BROOKFIELD', 'WOLLERT', 'DERRIMUT', 'KEILOR DOWNS',
       'DINGLEY VILLAGE', 'GOWANBRAE', 'HAMPTON PARK', 'KEILOR',
       'KINGS PARK', 'TAYLORS LAKES', 'WHITTLESEA'], dtype=object)

In [6]:
crime_df = pd.read_csv('../data/raw/crime_count.csv', sep=';')
offence_df = pd.read_csv('../data/raw/recorded_offence.csv', sep=';')

In [7]:
crime_df

,Year,Year ending,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded,Unnamed: 9
0,2023,June,Alpine,3691,Dederang,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,1.0,NaN
1,2023,June,Alpine,3691,Dederang,A Crimes against the person,Other crimes against the person,Other crimes against the person,1.0,NaN
2,2023,June,Alpine,3691,Dederang,B Property and deception offences,B40 Theft,B42 Steal from a motor vehicle,2.0,NaN
3,2023,June,Alpine,3691,Dederang,D Public order and security offences,D10 Weapons and explosives offences,D11 Firearms offences,1.0,NaN
4,2023,June,Alpine,3691,Glen Creek,B Property and deception offences,B50 Deception,B53 Obtain benefit by deception,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...
331736,2014,June,Yarriambiack,3489,Tempy,B Property and deception offences,B30 Burglary/Break and enter,B322 Non-residential non-aggravated burglary,1.0,NaN
331737,2014,June,Yarriambiack,3489,Tempy,E Justice procedures offences,E10 Justice procedures,E13 Resist or hinder officer,1.0,NaN
331738,2014,June,Yarriambiack,3489,Tempy,E Justice procedures offences,E20 Breaches of orders,E21 Breach family violence order,1.0,NaN
331739,2014,June,Yarriambiack,3489,Tempy,E Justice procedures offences,E20 Breaches of orders,E22 Breach intervention order,1.0,NaN
331740,2014,June,Yarriambiack,3491,Patchewollock,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,1.0,NaN

In [8]:
offence_df

,Year,Year ending,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Offence Count
0,2023,June,Alpine,3691,Dederang,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,1.0
1,2023,June,Alpine,3691,Dederang,A Crimes against the person,Other crimes against the person,Other crimes against the person,1.0
2,2023,June,Alpine,3691,Dederang,B Property and deception offences,B40 Theft,B42 Steal from a motor vehicle,2.0
3,2023,June,Alpine,3691,Dederang,D Public order and security offences,D10 Weapons and explosives offences,D11 Firearms offences,1.0
4,2023,June,Alpine,3691,Glen Creek,B Property and deception offences,B50 Deception,B53 Obtain benefit by deception,1.0
...,...,...,...,...,...,...,...,...,...
360123,2014,June,Yarriambiack,3489,Tempy,B Property and deception offences,B30 Burglary/Break and enter,B322 Non-residential non-aggravated burglary,1.0
360124,2014,June,Yarriambiack,3489,Tempy,E Justice procedures offences,E10 Justice procedures,E13 Resist or hinder officer,1.0
360125,2014,June,Yarriambiack,3489,Tempy,E Justice procedures offences,E20 Breaches of orders,E21 Breach family violence order,1.0
360126,2014,June,Yarriambiack,3489,Tempy,E Justice procedures offences,E20 Breaches of orders,E22 Breach intervention order,1.0
360127,2014,June,Yarriambiack,3491,Patchewollock,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,1.0

In [9]:
crime_filter = (crime_df['Year'] >= 2022) & (crime_df['Year'] <= 2023)
offence_filter = (offence_df['Year'] >= 2022) & (offence_df['Year'] <= 2023)
# Apply the mask to filter the DataFrame
filtered_crime = crime_df[crime_filter].reset_index()
filtered_offence = offence_df[offence_filter].reset_index()

In [10]:
filtered_crime

,index,Year,Year ending,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded,Unnamed: 9
0,0,2023,June,Alpine,3691,Dederang,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,1.0,NaN
1,1,2023,June,Alpine,3691,Dederang,A Crimes against the person,Other crimes against the person,Other crimes against the person,1.0,NaN
2,2,2023,June,Alpine,3691,Dederang,B Property and deception offences,B40 Theft,B42 Steal from a motor vehicle,2.0,NaN
3,3,2023,June,Alpine,3691,Dederang,D Public order and security offences,D10 Weapons and explosives offences,D11 Firearms offences,1.0,NaN
4,4,2023,June,Alpine,3691,Glen Creek,B Property and deception offences,B50 Deception,B53 Obtain benefit by deception,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
66817,66817,2022,June,Yarriambiack,3491,Patchewollock,A Crimes against the person,A80 Dangerous and negligent acts endangering p...,A83 Throw or discharge object endangering people,1.0,NaN
66818,66818,2022,June,Yarriambiack,3491,Patchewollock,B Property and deception offences,B30 Burglary/Break and enter,B321 Residential non-aggravated burglary,2.0,NaN
66819,66819,2022,June,Yarriambiack,3491,Patchewollock,B Property and deception offences,B40 Theft,B49 Other theft,1.0,NaN
66820,66820,2022,June,Yarriambiack,3491,Patchewollock,C Drug offences,C10 Drug dealing and trafficking,C12 Drug trafficking,1.0,NaN
66821,66821,2022,June,Yarriambiack,3491,Patchewollock,D Public order and security offences,D10 Weapons and explosives offences,D11 Firearms offences,1.0,NaN

In [11]:
filtered_offence

,index,Year,Year ending,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Offence Count
0,0,2023,June,Alpine,3691,Dederang,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,1.0
1,1,2023,June,Alpine,3691,Dederang,A Crimes against the person,Other crimes against the person,Other crimes against the person,1.0
2,2,2023,June,Alpine,3691,Dederang,B Property and deception offences,B40 Theft,B42 Steal from a motor vehicle,2.0
3,3,2023,June,Alpine,3691,Dederang,D Public order and security offences,D10 Weapons and explosives offences,D11 Firearms offences,1.0
4,4,2023,June,Alpine,3691,Glen Creek,B Property and deception offences,B50 Deception,B53 Obtain benefit by deception,1.0
...,...,...,...,...,...,...,...,...,...,...
72772,72772,2022,June,Yarriambiack,3491,Patchewollock,B Property and deception offences,B20 Property damage,B21 Criminal damage,1.0
72773,72773,2022,June,Yarriambiack,3491,Patchewollock,B Property and deception offences,B30 Burglary/Break and enter,B321 Residential non-aggravated burglary,2.0
72774,72774,2022,June,Yarriambiack,3491,Patchewollock,B Property and deception offences,B40 Theft,B49 Other theft,1.0
72775,72775,2022,June,Yarriambiack,3491,Patchewollock,C Drug offences,C10 Drug dealing and trafficking,C12 Drug trafficking,1.0
72776,72776,2022,June,Yarriambiack,3491,Patchewollock,D Public order and security offences,D10 Weapons and explosives offences,D11 Firearms offences,1.0

In [12]:
filtered_crime = filtered_crime.groupby(['Suburb/Town Name'])['Incidents Recorded'].sum().reset_index()
filtered_offence = filtered_offence.groupby(['Suburb/Town Name'])['Offence Count'].sum().reset_index()

In [13]:
filtered_crime.rename(columns={'Suburb/Town Name': 'Suburb'}, inplace=True)
filtered_offence.rename(columns={'Suburb/Town Name': 'Suburb'}, inplace=True)

In [14]:
filtered_crime['Suburb'] = filtered_crime['Suburb'].str.upper()
filtered_offence['Suburb'] = filtered_offence['Suburb'].str.upper()

In [15]:
merge_crime = pd.merge(data, filtered_crime, on='Suburb', how='inner')
merge_df = pd.merge(merge_crime, filtered_offence, on='Suburb', how='inner')

In [16]:
merge_df['total_crime'] = merge_df['Incidents Recorded'] + merge_df['Offence Count']

In [20]:
# Rent Affordability Index
merge_df['qualifying_income'] = merge_df['Median weekly household rental payment ($)']*4*0.3

In [22]:
'''merge_df['RAI'] = (merge_df['income'] / merge_df['qualifying_income']) * 100

if merge_df['RAI'] < 50: 
    merge_df['affordability'] = 6
elif (merge_df['RAI'] < 80) and (merge_df['RAI'] >= 50): 
    merge_df['affordability'] = 5
elif (merge_df['RAI'] < 100) and (merge_df['RAI'] >= 80): 
    merge_df['affordability'] = 4
elif (merge_df['RAI'] < 120) and (merge_df['RAI'] >= 100): 
    merge_df['affordability'] = 3
elif (merge_df['RAI'] < 150) and (merge_df['RAI'] >= 120): 
    merge_df['affordability'] = 2
elif (merge_df['RAI'] >= 150):
    merge_df['affordability'] = 1'''

0       681.0
1       681.0
2       681.0
3       681.0
4       681.0
        ...
4197    412.0
4198    412.0
4199    412.0
4200    375.0
4201    375.0
Name: Median weekly household rental payment ($), Length: 4202, dtype: float64

In [ ]:
merge_df['amenities'] = 0.16*merge_df['Accommodation and food services (no.)'] + 0.16*merge_df['Financial and insurance services (no.)']
+ 0.17*merge_df['Administrative and support services (no.)'] + 0.17*merge_df['Education and training (no.)']
+ 0.17*merge_df['Health care and social assistance (no.)'] + 0.17*merge_df['Public administration and safety (no.)']
merge_df['crime_rate'] = merge_df['total_crime'] / 100,000
#merge_df['accessiblity'] = merge_df['']
#merge_df['employment'] = merge_df['Unemployed (no.)'] / merge_df['Estimated resident population (no.)] + merge_df['Count of homeless persons (no.)'] + merge_df['median household income']

In [23]:
merge_df.columns

Index(['Address', 'Suburb', 'Prices', 'Type_Apartment', 'Type_House',
       'Type_Townhouse', 'Estimated resident population (no.)',
       'Population density (persons/km2)', 'Median age - persons (years)',
       'Working age population (aged 15-64 years) (no.)', 'Employed (no.)',
       'Unemployed (no.)', 'Renter (no.)',
       'Health care and social assistance (no.)',
       'Financial and insurance services (no.)',
       'Administrative and support services (no.)',
       'Education and training (no.)', 'Accommodation and food services (no.)',
       'Public administration and safety (no.)',
       'Value of residential building ($m)', 'Houses - total (no.)',
       'Townhouses - total (no.)', 'Apartments - total (no.)',
       'Median weekly household rental payment ($)', 'Rented (no.)',
       'Count of homeless persons (no.)',
       'Used at least one form of public transport (train, tram, bus, ferry) (no.)',
       'Extracted_Address', 'latitude', 'longitude', 'Incidents Recorded',
       'Offence Count', 'total_crime', 'qualifying_income'],
      dtype='object')

qualifying_income = 0.3*