In [1]:
import pandas as pd
import os

In [2]:
os.chdir('../data/raw/dataset')

#Listing all the files in directory ending with ".csv"
csv_files = [f for f in os.listdir() if f.endswith('.csv')]
print(len(csv_files))

#Looping through the list of all the CSV files and read each file into a DataFrame
dfs = []
for csv in csv_files:
    df = pd.read_csv(csv)
    dfs.append(df)
    
#Joining together all the DataFrames in the list to one DataFrame.
final_df = pd.concat(dfs, ignore_index=True)
final_df

507

,Address,Prices,Bedroom,Bathroom,Parking,Type
0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",$450 Per Week,3,2,2,House
1,"7/1 Mabel Street, \nIVANHOE VIC 3079",$450 Per Week,2,1,1,Townhouse
2,"2/59 Green Street, \nIVANHOE VIC 3079",$450 per week,2,1,1,Apartment / Unit / Flat
3,"104/15 Ivanhoe Parade, \nIVANHOE VIC 3079",$450 per week,1,1,1,Apartment / Unit / Flat
4,"4/64 Lorraine Crescent, \nJACANA VIC 3047",$450,2,1,1,Townhouse
...,...,...,...,...,...,...
10120,"30 Scott Street, \nBELMONT VIC 3216",$470.00,3,1,2,House
10121,"6 Stringybark Court, \nBERWICK VIC 3806",$470 per week,3,2,,House
10122,"104 Canterbury Jetty Road, \nBLAIRGOWRIE VIC 3942",$470.00 per week pw,3,1,2,House
10123,"14 Northerly Drive, \nBONNIE BROOK VIC 3335",$470,4,2,2,House
10124,"8/18 Cochrane Street, \nBRIGHTON VIC 3186",$470.00,2,1,1,Apartment / Unit / Flat

In [3]:
# Remove duplicates
unique_df = final_df.drop_duplicates()
unique_df.dtypes

unique_df.isnull().sum()

#Converting the 'Prices' column to str type
unique_df['Prices'] = unique_df['Prices'].astype(str)

#Extracting the numerical values from 'Price' Column
clean_price = unique_df.copy() 
clean_price['Prices'] = unique_df['Prices'].str.extract(r'\$(\d+\.\d+|\d+)').astype(float)
clean_price.isnull().sum()

#Remove the rows with missing 'Prices' values
clean_price.dropna(subset=['Prices'], inplace=True)
clean_price.reset_index(drop=True, inplace=True)

clean_price
clean_addr = clean_price.copy()

#Cleaning the 'Address' column by removing leading digits and '&'
clean_addr['Address'] = clean_price['Address'].str.replace(r'^\d+ & ', '')
clean_addr

/var/folders/km/pdxvhz290_7gm0v4948mfqdh0000gn/T/ipykernel_61219/3731552186.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_df['Prices'] = unique_df['Prices'].astype(str)
/var/folders/km/pdxvhz290_7gm0v4948mfqdh0000gn/T/ipykernel_61219/3731552186.py:23: FutureWarning: The default value of regex will change from True to False in a future version.
  clean_addr['Address'] = clean_price['Address'].str.replace(r'^\d+ & ', '')

,Address,Prices,Bedroom,Bathroom,Parking,Type
0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",450.0,3,2,2,House
1,"7/1 Mabel Street, \nIVANHOE VIC 3079",450.0,2,1,1,Townhouse
2,"2/59 Green Street, \nIVANHOE VIC 3079",450.0,2,1,1,Apartment / Unit / Flat
3,"104/15 Ivanhoe Parade, \nIVANHOE VIC 3079",450.0,1,1,1,Apartment / Unit / Flat
4,"4/64 Lorraine Crescent, \nJACANA VIC 3047",450.0,2,1,1,Townhouse
...,...,...,...,...,...,...
8833,"30 Scott Street, \nBELMONT VIC 3216",470.0,3,1,2,House
8834,"6 Stringybark Court, \nBERWICK VIC 3806",470.0,3,2,,House
8835,"104 Canterbury Jetty Road, \nBLAIRGOWRIE VIC 3942",470.0,3,1,2,House
8836,"14 Northerly Drive, \nBONNIE BROOK VIC 3335",470.0,4,2,2,House
8837,"8/18 Cochrane Street, \nBRIGHTON VIC 3186",470.0,2,1,1,Apartment / Unit / Flat

In [4]:
file_path = '../data/landing/clean_data.csv'
clean_addr.to_csv(file_path, index=False)