In [16]:
import pandas as pd
import os

In [24]:
os.chdir('../data/raw/dataset')

FileNotFoundError: [Errno 2] No such file or directory: '../data/raw/dataset'

In [18]:
csv_files = [f for f in os.listdir() if f.endswith('.csv')]

In [19]:
len(csv_files)

470

In [20]:
dfs = []

for csv in csv_files:
    df = pd.read_csv(csv)
    dfs.append(df)

In [21]:
final_df = pd.concat(dfs, ignore_index=True)

In [22]:
final_df

,Address,Prices,Bedroom,Bathroom,Parking,Type
0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",$450 Per Week,3,2,2,House
1,"7/1 Mabel Street, \nIVANHOE VIC 3079",$450 Per Week,2,1,1,Townhouse
2,"2/59 Green Street, \nIVANHOE VIC 3079",$450 per week,2,1,1,Apartment / Unit / Flat
3,"104/15 Ivanhoe Parade, \nIVANHOE VIC 3079",$450 per week,1,1,1,Apartment / Unit / Flat
4,"4/64 Lorraine Crescent, \nJACANA VIC 3047",$450,2,1,1,Townhouse
...,...,...,...,...,...,...
9380,"30 Scott Street, \nBELMONT VIC 3216",$470.00,3,1,2,House
9381,"6 Stringybark Court, \nBERWICK VIC 3806",$470 per week,3,2,,House
9382,"104 Canterbury Jetty Road, \nBLAIRGOWRIE VIC 3942",$470.00 per week pw,3,1,2,House
9383,"14 Northerly Drive, \nBONNIE BROOK VIC 3335",$470,4,2,2,House
9384,"8/18 Cochrane Street, \nBRIGHTON VIC 3186",$470.00,2,1,1,Apartment / Unit / Flat