In [1]:
import pandas as pd
import os

In [2]:
os.chdir('../data/raw/dataset')

In [3]:
csv_files = [f for f in os.listdir() if f.endswith('.csv')]

In [4]:
len(csv_files)

507

In [5]:
dfs = []

for csv in csv_files:
    df = pd.read_csv(csv)
    dfs.append(df)

In [48]:
final_df = pd.concat(dfs, ignore_index=True)

In [49]:
final_df

,Address,Prices,Bedroom,Bathroom,Parking,Type
0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",$450 Per Week,3,2,2,House
1,"7/1 Mabel Street, \nIVANHOE VIC 3079",$450 Per Week,2,1,1,Townhouse
2,"2/59 Green Street, \nIVANHOE VIC 3079",$450 per week,2,1,1,Apartment / Unit / Flat
3,"104/15 Ivanhoe Parade, \nIVANHOE VIC 3079",$450 per week,1,1,1,Apartment / Unit / Flat
4,"4/64 Lorraine Crescent, \nJACANA VIC 3047",$450,2,1,1,Townhouse
...,...,...,...,...,...,...
10120,"30 Scott Street, \nBELMONT VIC 3216",$470.00,3,1,2,House
10121,"6 Stringybark Court, \nBERWICK VIC 3806",$470 per week,3,2,,House
10122,"104 Canterbury Jetty Road, \nBLAIRGOWRIE VIC 3942",$470.00 per week pw,3,1,2,House
10123,"14 Northerly Drive, \nBONNIE BROOK VIC 3335",$470,4,2,2,House
10124,"8/18 Cochrane Street, \nBRIGHTON VIC 3186",$470.00,2,1,1,Apartment / Unit / Flat

In [50]:
# Remove duplicates
unique_df = final_df.drop_duplicates()

In [51]:
unique_df.dtypes

Address     object
Prices      object
Bedroom     object
Bathroom    object
Parking     object
Type        object
dtype: object

In [52]:
unique_df.isnull().sum()

Address     0
Prices      0
Bedroom     0
Bathroom    0
Parking     0
Type        0
dtype: int64

In [55]:
# Convert 'Prices' column to string type (if not already)
unique_df['Prices'] = unique_df['Prices'].astype(str)

/var/folders/fb/8dbpt5713rv57xwtdrr1lrbw0000gn/T/ipykernel_51668/1463324985.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_df['Prices'] = unique_df['Prices'].astype(str)

In [57]:
# Use regular expressions to extract the numerical values
clean_df = unique_df.copy()  # Create a copy of unique_df to avoid modifying it
clean_df['Prices'] = unique_df['Prices'].str.extract(r'(\d+\.\d+|\d+)').astype(float)

In [60]:
clean_df

,Address,Prices,Bedroom,Bathroom,Parking,Type
0,"39 Durham Crescent, \nHOPPERS CROSSING VIC 3029",450.0,3,2,2,House
1,"7/1 Mabel Street, \nIVANHOE VIC 3079",450.0,2,1,1,Townhouse
2,"2/59 Green Street, \nIVANHOE VIC 3079",450.0,2,1,1,Apartment / Unit / Flat
3,"104/15 Ivanhoe Parade, \nIVANHOE VIC 3079",450.0,1,1,1,Apartment / Unit / Flat
4,"4/64 Lorraine Crescent, \nJACANA VIC 3047",450.0,2,1,1,Townhouse
...,...,...,...,...,...,...
10120,"30 Scott Street, \nBELMONT VIC 3216",470.0,3,1,2,House
10121,"6 Stringybark Court, \nBERWICK VIC 3806",470.0,3,2,,House
10122,"104 Canterbury Jetty Road, \nBLAIRGOWRIE VIC 3942",470.0,3,1,2,House
10123,"14 Northerly Drive, \nBONNIE BROOK VIC 3335",470.0,4,2,2,House
10124,"8/18 Cochrane Street, \nBRIGHTON VIC 3186",470.0,2,1,1,Apartment / Unit / Flat

In [69]:
# Define the absolute path for saving the file
file_path = '../../curated/clean_data.csv'

# Save the DataFrame to the specified absolute path
clean_df.to_csv(file_path, index=False)